
    <app-menu></app-menu>

    <div class = "factionname"> The Rashaar </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Rashaar.png" height = 100 width = 100%>
        <p>The Rashaar are a race of creatures from beyond the pale. They are an ancient race, older than the realms of mankind by millennia. The creatures are undoubtedly
             linked to the emergence of the Rent in the Sky, and their occupation of Venice is no mere coincidence. However, their emergence pre-dates the great catastrophe
              both in the City of Canals by dozens of years, and on the Earth by many thousands.</p>

              <img class = "showimg" src = "../../assets/images/TrollTrader Ltd - Ugdru - Update 2.jpg" >

              <p>Ancient Civilisations</p>

              <p>There are tales that stretch back hundreds if not thousands of years, back to the dawn of man. Since man first laid eyes on the vast oceans of the world, 
                  tales have been told of the creatures that live under the waves. Myths span cultures of ships swallowed by the oceans and the spirits of drowned sailors 
                  being reborn as serpentine aquatic beasts. Throughout history rumours have spread of vast creatures that have grown gargantuan over aeons of living in 
                  the deepest depths of the ocean, coming to the surface rarely but leaving none but the bravest or luckiest sailors alive to tell the tale.
                    Older still though are stories of vast cities, those that are both ancient and somehow far advanced from humankind’s own technology. Cities that lie 
                    in the centre of oceans, standing tall as beacons of a race that came before. Stories abound of cities covered in marble, towering heights that glitter 
                    in the sun, or cities paved with gold, covered in elaborate carvings and statues. The tales all end the same way, with the cities falling beneath the 
                    water, broken and sunken beneath the waves, destined to lay at the bottom of the oceans forever. There are many variations on the stories, some claiming
                     that God himself is responsible for punishing the inhabitants, others saying that the cities collapsed under the weight of their own splendour, consumed 
                     by excess and extravagance.
                    These stories, as with most, have truths in the heart of them. The monsters living beneath the seas are from times before humans, but are not of this
                     world. And the cities may once have been glittering, but in truth were never on top of the water, existing always at the very bottom of the oceans. 
                     These places were the first bastions of the Rashaar, and the sea monsters are the only remnants of a race of creatures that long ago dwindled to but a
                      handful across the globe.</p>

                      <img class = "showimg" src = "../../assets/images/TrollTrader Ltd - Siren Update 3 (1).jpg" >

                      <p>Play Style</p>

                      <p>The Rashaar have a good selection of magic users, magical monsters and a variety of small monsters and humans that assist them. An extremely balanced 
                          faction that can be used in a variety of ways. You may not have many ranged attacks without magic, but that is well made up for by their viciousness in
                          close combat and their magical ability. The Rashaar have access to the biggest, scariest monster in the game with the Morgraur, a monster cpable of devouring
                          even powerful creatures whole.
                      </p>

                      <div class="miniaturegrid">
                            <div class="grid-item">Magi-Rashaar <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Magi-Rashaar.png" > </div>
                            <div class="grid-item">Voice of Dagon <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Voice of Dagon.png" > </div>
                            <div class="grid-item">Flame That Burns Underwater <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Flame That Burns Underwater.png" > </div>
                            <div class="grid-item">Morgraur <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Morgraur-Rashaar.png" > </div>
                            <div class="grid-item">Raadru <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Radru-Rashaar.png" > </div>
                            <div class="grid-item">Karcharos <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Karcharos.png" > </div>
                            <div class="grid-item">Brachyura <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Brachyura.png" > </div>
                            <div class="grid-item">Sirena <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Sirena-Rashaar.png" > </div>
                            <div class="grid-item">Priest of Dagon <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Priest of Dagon.png"> </div>
                            <div class="grid-item">Lesser Ugdru <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Ugdru-Rashaar.png" > </div>
                            <div class="grid-item">Aglaope <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Aglaope.png" > </div>
                            <div class="grid-item">Slaves <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Slaves.png" > </div>
                            <div class="grid-item">Officiants of Dagon <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Officiants.png" > </div>
                            <div class="grid-item">Hybrid <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Hybrid.png" > </div>
                            <div class="grid-item">Advanced Hybrid <img class = "charimg" src = "../../assets/images/characterimages/rashaar/Advanced Hybrid.png"> </div>
                            </div>
     
        <img src= "../../assets/images/factionstrips/Paint Strip Rashaar.png" height = 100 width = 100%>
     </div>