
    <app-menu></app-menu>

    <div class = "factionname"> The Rashaar </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Rashaar.png" height = 100 width = 100%>
        <p>The Rashaar are a race of creatures from beyond the pale. They are an ancient race, older than the realms of mankind by millennia. The creatures are undoubtedly
             linked to the emergence of the Rent in the Sky, and their occupation of Venice is no mere coincidence. However, their emergence pre-dates the great catastrophe
              both in the City of Canals by dozens of years, and on the Earth by many thousands.</p>

              <img class = "showimg" src = "../../assets/images/TrollTrader Ltd - Ugdru - Update 2.jpg" >

              <p>The Ancient Civilisation of the Rashaar</p>

              <p>For generations there have been tales of monsters in the sea. Giant sea creatures living beneath the waves that could eat ships and their crews whole. Even older still 
                  are the stories of cities beneath the waves, drowned by catastrophe in the past. Cities such as Atlantis, with streets paved of gold, buildings of smooth marble with statues
                  of strange creatures. Cities destroyed or sunk by God himself as punishment for the decadent splendour.  
              </p>

              <p> These stories have truth in them, though exaggerated of course. However the monsters are ancient, from before the first human walked the earth, and they are not from this 
                  world. The lost cities never were above the water, they've always been deep in the ocean, home to a race of sea creatures known as the Rashaar, that had dwindled to all but nothing
                  before humanity appeared.
              </p>

              <p>The Rashaar are probably not even from this reality, instead seemingly home on the other side of the rent. Though their arrival on this world predates the opening of the rent by 
                  thousands, maybe millions of years, since the rent opened their numbers on this planet have increased dramatically. Due to the rent being in the sky above Venice, the canals are now
                  host to large numbers of Rashaar. 
              </p>

              <p>The Rashaar come from an alternate universe, where the Gods have grown old, magic has become so powerful, and so dominant in their universe that the homeworld of the Rashaar is nothing
                  but a chaotic nightmare of madness. These Gods have been looking for a world to conquer and through the rent, they have a way in to this world. NOw they seek to start a new empire on this
                  world, enslaving or devouring it's current inhabitants.
              </p>

              <p>after the rent opened, the CHurch of Dagon came to Venice with supplies which they charitably gave to the citizenry. In doing so people saw the Church of Dagon as saviours, and pledged
                  their fealty to them, attending their masses in their churches. Extolling the virtues of a poor and humble life. Little do people know that Dagon is the name of an ancient God of the Rashaar
                  and the church is simply a way to gain followers to breed and summon more Rashaar into this world. 
              </p>

                      <img class = "showimg" src = "../../assets/images/TrollTrader Ltd - Siren Update 3 (1).jpg" >

                      <p>Play Style</p>

                      <p>The Rashaar have a good selection of magic users, magical monsters and a variety of small monsters and humans that assist them. An extremely balanced 
                          faction that can be used in a variety of ways. You may not have many ranged attacks without magic, but that is well made up for by their viciousness in
                          close combat and their magical ability. The Rashaar have access to the biggest, scariest monster in the game with the Morgraur, a monster capable of devouring
                          even powerful creatures whole.
                      </p>

                      
     
        <img src= "../../assets/images/factionstrips/Paint Strip Rashaar.png" height = 100 width = 100%>
     </div>