
    <app-menu></app-menu>

    <div class = "factionname"> The Rashaar </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Rashaar.png" height = 100 width = 100%>
        <p>The Rashaar are a race of creatures from beyond the pale. They are an ancient race, older than the realms of mankind by millennia. The creatures are undoubtedly
             linked to the emergence of the Rent in the Sky, and their occupation of Venice is no mere coincidence. However, their emergence pre-dates the great catastrophe
              both in the City of Canals by dozens of years, and on the Earth by many thousands.</p>

              <img class = "showimg" src = "../../assets/images/TrollTrader Ltd - Ugdru - Update 2.jpg" >
                <div class = "lore">
              <p>The Ancient Civilisation of the Rashaar</p>

              <p>For generations there have been tales of monsters in the sea. Giant sea creatures living beneath the waves that could eat ships and their crews whole. Even older still 
                  are the stories of cities beneath the waves, drowned by catastrophe in the past. Cities such as Atlantis, with streets paved of gold, buildings of smooth marble with statues
                  of strange creatures. Cities destroyed or sunk by God himself as punishment for the decadent splendour.  
              </p>

              <p> These stories have truth in them, though exaggerated of course. However the monsters are ancient, from before the first human walked the earth, and they are not from this 
                  world. The lost cities never were above the water, they've always been deep in the ocean, home to a race of sea creatures known as the Rashaar, that had dwindled to all but nothing
                  before humanity appeared.
              </p>

              <p>The Rashaar are probably not even from this reality, instead seemingly their home lies on the other side of the rent. Though their arrival on this world predates the opening of the rent by 
                  thousands, maybe millions of years, since the rent opened their numbers on this planet have increased dramatically. Due to the rent being in the sky above Venice, the canals are now
                  host to large numbers of Rashaar. 
              </p>

              <p>The Rashaar come from an alternate universe, where the Gods have grown old, magic has become so powerful, and so dominant in their universe that the homeworld of the Rashaar is nothing
                  but a chaotic nightmare of madness. These Gods have been looking for a world to conquer and through the rent, they have a way in to this world. Now they seek to start a new empire on this
                  world, enslaving or devouring it's current inhabitants.
              </p>

              <p>After the rent opened, the Church of Dagon came to Venice with supplies which they charitably gave to the citizenry. In doing so people saw the Church of Dagon as saviours, and pledged
                  their fealty to them, attending their masses in their churches. Extolling the virtues of a poor and humble life. The long suffering peasants took to these teachings, easily abandoning
                  their christian beliefs, or adjusting them to worship Dagon as their God. 
              </p>
              <p>Little however, does anyone know that Dagon is a God from the other world through the rent, and he is simply using his new followers to summon new Rashaar into Venice. His followers are encouraged
                  to mate with the Rashaar, an often lethal experience, to swell their numbers further. In time, the Rashaar will have their prize, and Venice will be their foothold into this world to conquer and enslave.
                  
              </p>
            </div>
            <div class = "story">
                <p>Hunting for the Sacrifice</p>

                <p>Throwing the captured citizen onto the stone table, the Magi-Rashaar looked upon his offering with disgust. Although this sacrifice wasn’t worthy of Dagon, 
                    it would have to do for now. Drawing his knife, the Magi-Rashaar held the throat of his captive as the helpless man screamed for mercy and, offering a final
                     prayer to Dagon, the Magi plunged the dagger through his victim’s heart.</p>

<p><i>With the ritual complete Dagon will be appeased</i>, the Magi thought to himself. The others would be back with more offerings soon and then Dagon would feast. Well, that
     was if any were left alive during the raid. The Magi sniggered to himself, more than aware of his kinds’ lust for blood.</p>

<p>The raid had progressed swiftly and savagely. There was no subtlety to the attack and blood had splattered across the cobbled streets and even the wall of the nearest palazzo. 
    Animalistic grunting bounced off the buildings as the raiding party set about their work, killing indiscriminately. The Radru and Ugdru-Rashaars had led the assault and in 
    their ferocity, left no survivors. The Priest who was tasked with bringing new offerings was appalled - who could be offered to the mighty god now? Searching for answers he 
    realised that there was a church nearby and knew that civilians would’ve taken refuge in the flimsy belief that their God would save them. This night would not have been for 
    nothing: Dagon would be appeased and the Priest would not be punished.</p>

<p>Calling his more sound of mind followers to him while leaving the rest to cause as much chaos as they could, the Priest set off. Hurrying to the church, he ordered that it be
     surrounded so none could escape Dagon's judgement. Entering slowly, savouring the feeling of utter terror he sensed from within the once holy building, the Priest gazed upon
      the cowering wretches before him and opened his arms with joy. These sheep... this flock would be herded towards slaughter, and through their sacrifice Dagon would grow 
      stronger and the Rashaar would prosper.</p>

<p>Sending forth his hybrids who were once human themselves but had since been blessed by Dagon, the Priest watched as children were ripped from their mother's grasp, and wives 
    torn from their husbands. Those who resisted were dragged screaming out of the sanctuary - they would be the first souls sacrificed to Dagon.</p>

<p><i>What a successful hunt</i>, the Priest thought to himself as he called an end to the assault, his followers proceeding to round up the few victims left alive. Totally 
    ignorant to the screams of terror left by the raid, the Priest started whistling to himself as he slowly returned to the Church of Dagon in the Cannaregio district. The 
    hybrids scurried behind their leader, dragging their trembling quarry. Upon hearing the unmistakable sounds of slaughter the Priest decided it would be a good idea to leave
     the bloodthirsty monsters to their own devices; he knew that soon they would be killed and that their savagery would hide his own acts of barbarism - an easy sacrifice to 
     make for Dagon.</p> 

            </div>

                      <img class = "showimg" src = "../../assets/photos/Rashaar Slaves.png" >

                      <p>Play Style</p>

                      <p>The Rashaar have a good selection of magic users, magical monsters and a variety of small monsters and humans that assist them. An extremely balanced 
                          faction that can be used in a variety of ways. You may not have many ranged attacks without magic, but that is well made up for by their viciousness in
                          close combat and their magical ability. The Rashaar have access to the biggest, scariest monster in the game with the Morgraur, a monster capable of devouring
                          even powerful creatures whole.
                      </p>

                      
     
        <img src= "../../assets/images/factionstrips/Paint Strip Rashaar.png" height = 100 width = 100%>
     </div>