.factionname{
    color: #37ab49;
    text-align: center;
    font-size: 60pt;
    font-family: Buckingham;
}

.textbox{
    text-align: center;    
    background-color: black;
}

svg{
    fill: #9a191a;
    height: 40px;
}

h2{
    text-align: center;
}

.lore{
    width:50%;
    float:left;
}

.story{
    width: 50%;
    background-color: #9a191a;
    color: black;
    float:right;
    border-radius: 5%;
}

  @media screen and (max-width: 600px){
   

    .lore{
        width:100%;
        float:left;
    }
    
    .story{
        width: 100%;
        background-color: #9a191a;
        color: black;
        float:left;
        border-radius: 5%;
    }
  }