.aboutbody{
    
    height: auto;
    background-repeat: no-repeat;

}



svg{
    fill: #9a191a;
    height: 40px;
}

h2{
    text-align: center;
}

.shorttextbox{
    text-align: center;
    padding: 5%;
    width:60%;
    margin-left: 15%; 
    min-height: 300px;
}

li {
    color: #9a191a;
    margin: 20px;
}

.charimg{
    width: 250px;
    
}

.altcharimg{
    width: 250px;

}

.miniaturegrid{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 10px;
    color: #9a191a;
}

.miniaturegrid .grid-item{
    background-color: black;
    border: 1px solid #9a191a;
    padding: 20px;
    text-align: center;
    color: #9a191a;
}

.videobar1{
    text-align: center;
  width:100%;
  background-image: url(/assets/images/Rashaars\ Attacks\ Picture\ Blurry.png);
}

.videobar2{
    text-align: center;
  width:100%;
  background-image: url(/assets/images/Battle\ of\ the\ Madmen\ Picture\ Blurry.png);
}

@media screen and (max-width:600px){
    .miniaturegrid{
        grid-template-columns: auto
    }

    .svg{
        width:300px;
        height: auto;
    }

    .shorttextbox{
        text-align: center;
        padding: 5%;
        width:60%;
        margin-left: 15%; 
        min-height: 300px;
    }
  }