<div class = "aboutbody">
  
  <app-menu></app-menu>

<img src = "../../assets/images/Playing Carnevale Picture.png" width = 100%>
  

  <div class = "introtextbox"> 
    

   
<p>Carnevale is a narrative miniatures game set in Venice after a catastrophic event. 
  A world of magic, monsters and daring heroism is bought to life on the tabletop by you and your opponent. Bloody battle, spectacular stunts through the rooftops and water, 
  maddening monsters and non stop action is all represented on your tabletop. The rules allow a great deal of freedom in movement and in combat allowing you to truly build
  your own narrative. There are currently seven factions with Venice, all fighting for superiority, or to further their own, nefarious agendas. Each faction has it's very own style,
  both in looks and how they they play. To be succesful you need to master the playstyle of your chosen faction, making the most from every character in your gang.  
</p>
  </div>

  <div class = "videobar1">
      <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/N3Evvce2_Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class = "textbox">
    <img class = "showimgwithintext" src = "../../assets/photos/The Guild Bad.png">
<p>
  Further information on each faction is avaialble on this website, including history, key characters and a quick look at their playstyle. For each faction there is a faction starter gang
  box and it is also possible to buy the miniatures seperately, or via other gang boxes. A gang is made up of characters from one faction only, unless they have hired the help of a Gifted 
  character. Although there are rules for building a gang within the Carnevale rulebook, it is perfectly acceptable for you and your opponent to modify or change these rules for yourselves 
  to create your own narrative.
</p><br>

</div>

<div class = "videobar2">
    <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/A62l9vQRwFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div class = "textbox">
<p>
  One of the most unique and exciting features of Carnevale is how the dice determine your fate. When rolling dice you always roll a destiny dice. This dice is like any other, unless it rolls 
  a 1 or a 10, in which case it could determine a critical or a fumble, a fantastic success, or a terrible mistake. This way there is a feeling of destiny in your actions, and that helps bring 
  the story to life. 
</p>

<img class = "showimg" src = "../../assets/photos/Full Board.png">

</div>

  
  
</div>


