<div class = "aboutbody">
  
  <app-menu></app-menu>

<img src = "../../assets/images/Playing Carnevale Picture.png" width = 100%>
  

  <div class = "introtextbox"> 
    

   
      <p>Carnevale is a narrative miniatures game set in Venice after a catastrophic event left a huge tear in the sky filled with eldritch energy. A world of magic, monsters and 
        daring heroism brought to life by you and your opponent. Bloody battle, spectacular stunts atop the rooftops and water, maddening monsters and non stop action are all 
        represented on the tabletop. The rules allow a great deal of freedom in movement and in combat, allowing you to truly build your own narrative.</p>

      <p>There are currently seven factions in Carnevale, all fighting for superiority or to further their own, nefarious agendas. Each faction has a very unique and challenging 
        play-style, ensuring that no two factions will play the same. To be successful you will need to master the particular play-style of your chosen faction, making the most 
        out of every character in your gang.</p>  
  </div>

  <div class = "videobar1">
      <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/N3Evvce2_Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<div class = "textbox">
    <img class = "showimgwithintext" src = "../../assets/photos/The Guild Bad.png">
    <p>Further information on each faction is available on this website: including history, key characters and a quick look at how they play on the tabletop. For each faction there 
      is a starter gang box, though it is possible to buy each individual model separately. A gang is made up of characters from a singular faction, the exception to this are the 
      Gifted, which can be taken by any faction. The rules for building a gang can be found in the Carnevale rulebook, however it is also perfectly acceptable for you and your 
      opponent to modify or change these rules for yourselves to create your own narrative. </p>

<br>

</div>

<div class = "videobar2">
    <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/A62l9vQRwFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div class = "textbox">

    <p>One of the most unique and exciting features of Carnevale is how the dice determines your fate. When rolling dice, one always becomes destiny dice (a different coloured dice 
      works best). A destiny dice works in the same way as any other dice unless it rolls a 1 or a 10, in which case it results in either a critical or a fumble- a dazzling success 
      or a terrible failure. This way there is a feeling of destiny in your actions, which adds a randomness to the game and brings the nature of Carnevale to life. </p>

<div class = "centralimage">
<img class = "showboard" src = "../../assets/photos/Full Board.png">
</div>
</div>

  
  
</div>


