<div class = "gametoolsbody">
  <app-menu></app-menu>

  <h1>Gaming Tools and Resources</h1>

  <div class = "textbox">
    <p> These are tools to assist in playing Carnevale</p>

      <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        <p class = "Templates">Templates</p>
      </mat-panel-title>
      <mat-panel-description>
        Click to reveal Templates.
      </mat-panel-description>
      </mat-expansion-panel-header>        
      <a href = "../../assets/images/Carnevale_Templates_A5.pdf" target = "_blank">Templates</a><br>      
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          <p class = "Rules">Rulebook Corrections and Quick Reference</p>
        </mat-panel-title>
        <mat-panel-description>
          Click to reveal PDF's.
        </mat-panel-description>
        </mat-expansion-panel-header>        
        <a href = "../../assets/rulesreferences/Abilities.pdf" target = "_blank">Abilities Quick Referance</a><br> 
        <a href = "../../assets/rulesreferences/Quick Reference.pdf" target = "_blank">Quick Reference Sheet</a><br> 
        <a href = "../../assets/rulesreferences/Contents Errata.pdf" target = "_blank">Contents Errata</a><br>
        <a href = "../../assets/rulesreferences/Index Errata.pdf" target = "_blank">Index Errata</a><br>           
        </mat-expansion-panel>
      

         

</div>

</div>