
<app-menu></app-menu>

<div class = "factionname"> The Vatican </div>

<div class = "textbox">
        <img src= "../../assets/images/factionstrips/Paint Strip Vatican.png" height = 100 width = 100%>
    <p>Pope Clement XV has had much to contend with since his recent elevation to Bishop of Avignon and leadership of the Holy Roman Catholic Church, but foremost in his
         plans has been re-establishing the influence of the Papacy in Venice. There are a number of reasons for this, some mundane but most due to the city’s unique position
          to exploit the Rent in the Sky and the magic it brings.</p>

          <img class = "showimg" src = "../../assets/images/25 - Word of God.jpg" >

          <p>Cardinal Gerdil’s Rise</p>

          <p>Clement was formerly Cardinal Gerdil, Inquisitor General of the Vatican, and instrumental in recent events that have beset the world. He was one of the few 
              Cardinals to have access to the Herald during his lessons in magic, and it was on his orders that copies of the book taken from this dictation were made. 
              These grimoires are at the centre of a small but powerful sect at the heart of the Vatican, dedicated to unlocking the secrets of magic and retaining them 
              purely for the benefit of mother church. It was doubtless Gerdil’s order that sealed the fate of the Herald by an assassin’s blade and set in motion the 
              terrible events that saw the Vatican destroyed, Italy torn asunder, and the world forever changed.
                Gerdil left the Vatican days before the horrific events of the Rent, along with a select few members of his secretive group. Fearing retribution from the 
                Church for his actions, the Cardinal had no idea of the divine reckoning that the murder of the Herald would bring. With Italy opened up to the heavens and 
                earth itself, Cardinal Gerdil and his party were lucky to survive the cataclysm, living for weeks from village to village, barely escaping the rioting and 
                madness that followed.
                Northern Italy had become a wasteland, beset by water and lava, leaving very few places for Gerdil to seek sanctuary. Luckily he heard tell of a papal conclave,
                the remaining power of the Church having moved to Switzerland. The Cardinal and his retinue fled to Geneva, protected as it was from the flooding by the Alps, and 
                arrived in time for the meeting.
                Cardinal Gerdil and his retinue were among only a tiny number of the Vatican to survive the opening of the Rent in the Sky. Cardinal Antonelli was known to have 
                survived, and others still had escaped the disaster, retreating with knowledge of the Herald’s teachings, and even a few transcribed scriptures. Gerdil had a short 
                list of those he believed to have survived, but was keen to hear and meet any others that escaped, lest the knowledge of the Harbginer’s existence spread.
                Equally the papal conclave was eager to hear of his escape, and saw the magical gifts he showed as proof of God’s existence in the world. Gerdil told of how he had
                 emerged from the flaming ruins of Vatican City, chosen by God as his messenger on Earth. Gerdil took his opportunity to explain of the corruption present in Rome,
                  detailing the sins of the Cardinals and Bishops that lead the Holy Lord to smite the whole place from existence.
                His retinue did not correct the untruths, convinced as they were of Gerdil’s piety. They knew that only the Cardinal could lead the Church in this new world, and as
                 he spoke, many started to believe the lies he was telling, the words overwriting their own memory of the horrors they’d witnessed in the past weeks.
                On November 22nd, Cardinal Gerdil was elected as Pope Clement XV.</p>

                <img class = "showimg" src = "../../assets/images/13 - Vatican  HQ.jpg" >

                <p>Play Style</p>

                <p>The Vatican are very tough to beat, with a very defensive style with great defensive buffs they can hold their own against any assualt from the other factions.
                    They have strong magical abilities and a few aces up their sleeves when they absolutely need to kill someone. A Prelate of the Flaming Sword gives a fantastic bonus
                    to allies to get through tough armour, and the Exorcist can make sure opposing mages stay hidden. lest they be purified by his holy righteousness. 
                </p>

                <div class="miniaturegrid">
                        <div class="grid-item">Inquisitor <img class = "charimg" src = "../../assets/images/characterimages/vatican/Inquisitior.png" > </div>
                        <div class="grid-item">Exorcist <img class = "charimg" src = "../../assets/images/characterimages/vatican/Exorcist.png" > </div>
                        <div class="grid-item">Domonique de Pierre de Bernis <img class = "charimg" src = "../../assets/images/characterimages/vatican/Domonique.png" > </div>
                        <div class="grid-item">Felix Baumgartner <img class = "charimg" src = "../../assets/images/characterimages/vatican/Felix Baumgartner.png" > </div>
                        <div class="grid-item">Thomas Thieme <img class = "charimg" src = "../../assets/images/characterimages/vatican/Thomas Thieme.png" > </div>
                        <div class="grid-item">Cross=bearing Deacon <img class = "charimg" src = "../../assets/images/characterimages/vatican/Cross-bearing Deacon.png" > </div>
                        <div class="grid-item">Knight of Malta <img class = "charimg" src = "../../assets/images/characterimages/vatican/Knight of Malta.png" > </div>
                        <div class="grid-item">Prelate of the Flaming Sword <img class = "charimg" src = "../../assets/images/characterimages/vatican/Prelates of the Flaming Sword.png" > </div>
                        <div class="grid-item">Inquisition Commissioner <img class = "charimg" src = "../../assets/images/characterimages/vatican/Inquisition Commissioner.png" > </div>
                        <div class="grid-item">Summoner Priest <img class = "charimg" src = "../../assets/images/characterimages/vatican/Summoner Priest.png" > </div>
                        <div class="grid-item">Golgotha <img class = "charimg" src = "../../assets/images/characterimages/vatican/Golgotha.png"> </div>
                        <div class="grid-item">Executioner <img class = "charimg" src = "../../assets/images/characterimages/vatican/Executioner.png" > </div>
                        <div class="grid-item">Priests <img class = "charimg" src = "../../assets/images/characterimages/vatican/Priests.png" > </div>
                        <div class="grid-item">French Guard <img class = "charimg" src = "../../assets/images/characterimages/vatican/French Guard.png" > </div>
                        <div class="grid-item">Bishop Guard <img class = "charimg" src = "../../assets/images/characterimages/vatican/Bishop Guard.png" > </div>
                        <div class="grid-item">Martyr <img class = "charimg" src = "../../assets/images/characterimages/vatican/Martyr.png" > </div>
                        <div class="grid-item">Alter Boy <img class = "charimg" src = "../../assets/images/characterimages/vatican/Altar Boy.png" > </div>
                        <div class="grid-item">Lacrimosa <img class = "charimg" src = "../../assets/images/characterimages/vatican/Lacrimosa.png" > </div>

                        </div>
 
    <img src= "../../assets/images/factionstrips/Paint Strip Vatican.png" height = 100 width = 100%>
 </div>
