
<app-menu></app-menu>

<div class = "factionname"> The Vatican </div>

<div class = "textbox">
        <img src= "../../assets/images/factionstrips/Paint Strip Vatican.png" height = 100 width = 100%>
    <p>Pope Clement XV has had much to contend with since his recent elevation to Bishop of Avignon and leadership of the Holy Roman Catholic Church, but foremost in his
         plans has been re-establishing the influence of the Papacy in Venice. There are a number of reasons for this, some mundane but most due to the city’s unique position
          to exploit the Rent in the Sky and the magic it brings.</p>

          <img class = "showimg" src = "../../assets/images/25 - Word of God.jpg" >
            <div class = "lore">
          <p>The Holy Vatican</p>

          <p>The Vatican in Rome is destroyed, Italy all but wiped from the map. When the rent opened it seemed as if God himself smote it all from the sky. Few escaped, including Cardinal
              Gerdil. Gerdil went to Geneva, where most of the survivors had assembled. Preaching of the corruption of Rome, how he had emerged from the flaming wreckage of the Vatican himself as 
            Gods chosen one, he gained support from many of the church and of the local population. In time, he was appointed as Pope Clement XV. </p>

            <p>Pope Clement XV wanted to know of the teachings of the Harbinger, whose execution had seemingly created the rent. He wanted to make sure only he himself could cast these 'miracles'. 
                So that people would beleive they were acts of God only, rather than some natural magic. he hunts dwn the last few survivors who knew of the Harbinger and his teachings. As he learned
            of others using magic, a gift he wnted only for himself, he sent out agents to capture or kill those who could use magic.    </p>

            <p>Learning of the Gifted in Venice was a great worry to Pope Clement XV and he knew that they must be destroyed else his powers would be made to seem common, rather than God given. He sent 
                an expecdition force to negotiate with Venice, aiming to have the City execute these Gifted themselves, howeve that being unsuccesful, it is now a mission of violent compliance. 
                Entire districts of Venice attacked by Venetian forces, the population interogated by the reformed Inquisition, executions are common as is torture. 
            </p>

            <p> The Pope spends his time reading the texts of the Harbinger, writing them into parables and stories so they'd be more compatible with other teachings of Christianity. He preached, 
                denouncing the wickedness of the past, gaining himself more and more support. As his followers learned of these miracles, they were given parts of the Popes new teachings, some given 
                just the words but not the context to decipher them, some given the meaning but not the tale. This caused divisions within Christianity, though there was one thing in common, their total
                and complete belief in their new Pope.
            </p>
        </div>
            <div class = "story">
                <p>Test</p>Test
            </div>

                <img class = "showimg" src = "../../assets/photos/The Vatican Priests.png" >

                <p>Play Style</p>

                <p>The Vatican are very tough to beat, with a very defensive style with great defensive buffs they can hold their own against any assualt from the other factions.
                    They have strong magical abilities and a few aces up their sleeves when they absolutely need to kill someone. A Prelate of the Flaming Sword gives a fantastic bonus
                    to allies to get through tough armour, and the Exorcist can make sure opposing mages stay hidden. lest they be purified by his holy righteousness. 
                </p>
            
            
                
 
    <img src= "../../assets/images/factionstrips/Paint Strip Vatican.png" height = 100 width = 100%>
 </div>
