<div class = "menubody">
  
<nav>
  <div class = "dropdown">
  <a routerLink="/gettingstarted">Getting Started</a>
</div>
 <div class = "dropdown"> 
<a routerLink="/about">Playing Carnevale</a>
</div>
  
  <div class = "dropdown">
    <a class ="dropbtn">Factions of Carnevale</a>
    <div class="dropdown-content">
      <a routerLink="/guild">The Guild</a>
      <a routerLink="/rashaar">Rashaar</a>
      <a routerLink="/doctors">The Doctors</a>
      <a routerLink="/patricians">The Patricians</a>
      <a routerLink="/vatican">The Vatican</a>
      <a routerLink="/strigoi">Strigoi</a>
      <a routerLink="/gifted">The Gifted</a>

    </div>
  </div>
  
  <a href ="http://www.webapp.carnevalegame.com/carnevale-list-builder/"target="_blank">Gang Builder</a>
  
  <div class = "dropdown">
  <a class = "dropbtn" routerLink="/resources">Resources</a>
  <div class = "dropdown-content">
    <a routerLink="/charstatcards">Character Stat Cards</a>
    <a routerLink="/scenarios">Scenarios</a>
    <a routerLink="/gameresources"> Gaming Tools and Corrections</a>
  </div>
</div>

<div class = "dropdown"> 
    <a href = "http://www.ttcombat.com" target = "_blank">TTCombat Store</a>
    </div>

</nav>

</div>