
    <app-menu></app-menu>

    <div class  = "factionname"> The Gifted </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Gifted.png" height = 100 width = 100%>
        <p>The people known as Gifted are not a single entity. Most have never even met each other, let alone work together. Each holds their own view on the world, and 
            although sometimes their paths and goals cross, it’s equally likely that members of this moniker will cross blades if they were to meet in the streets.
                The powers that the Gifted possess are linked to the Rent, gaining potency when it waxes, and trickling away to almost nothing when it fades from view. 
                More and more are unveiling themselves as time goes on, and although there are rumours of Gifted the world over, Venice holds the highest concentration of 
                them by far.</p>

                <img class = "showimg" src = "../../assets/images/PalazzoFinalHD.jpg" >
                <div class = "lore">
                <p>The Gifted, when magic takes over a person.</p>

                <p>The preponderance of Gifted in Venice is both a boon and a drawback for the leaders of the city. While they have come in usefull at times for completing special tasks on behalf
                    of the doge. They have just as often been highly disruptive to the running of the city by startng or joining in riots, assasinating key rulers, stealing crucial documents and so on. 
                    Every faction in Venice has used these Gifted for their own needs and ahve also had Gifted individuals help to stop them in their mission. 
                </p>

                <p>Outsiders come to the city with the hope of catching a glimpse of one of the fabled Gifted. However some of the fables are nothing more than stories, or perhaps they are spread 
                    by someone with no more power than a quick mind, simply pretending to be Gifted to earn a few coins. However their greatest threat is the Vatican forces who want to see anyone with 
                    the gift of magic killed.
                </p>

                <p>Although rumour would make it sound like there are gifted on every street corner, ultimately the number touched by the rent actually number only a few dozen. Although some are public
                    with their abilities, plenty more stay in secret, preferring the security of anonymity.
                </p>

                <p>Though it has been known for several Gifted to show up in the same place at the same time, it's a rare occurence. Two Gifted are just as likely to be enemies as they are friends. Fights 
                    between Gifted can be mesmerising to watch as each attempts to use their magical abilities to subdue the other. Despite this it is said some of the Gifted are friends, Fadhila and Harlequin
                    are apparantly close friends, and any fight between them becomes good natured sparing. 
                </p>

                <p>These gifts come with a terrible price though. A persons best and worst characteristics are heavily exageratted. Sometimes the power never stops, the artist for example can never stop 
                    painting, which means she has no rest, let alone sleep. The Black Spectre is forever a ghostly appartion while the Abberattion is always a horrifying monster which may just about remember
                    being human. 
                </p>
            </div>
            <div class = "story">
                <p>Test</p>Test
            </div>
                         <img class = "showimg" src = "../../assets/photos/Cool Gifted.png" >

                         <p>Play Style</p>

                         <p>Rarely do you see a gang of Gifted altogether. In fact, many of the Gifted have never even met eachother. Usually they are found helping gangs of other factions,
                             primarily for profit, but sometimes out of a desire to help, or to cause chaos, or even for the slaugther. Each character is a superhero in their own right, with
                             special abilities that make them stand apart from others. Should you take a gang of Gifted, you'll most likely be outnumbered, but each character you have is powerful.
                         </p>

                         


     
        <img src= "../../assets/images/factionstrips/Paint Strip Gifted.png" height = 100 width = 100%>
     </div>