
    <app-menu></app-menu>

    <div class  = "factionname"> The Gifted </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Gifted.png" height = 100 width = 100%>
        <p>The people known as Gifted are not a single entity. Most have never even met each other, let alone work together. Each holds their own view on the world, and 
            although sometimes their paths and goals cross, it’s equally likely that members of this moniker will cross blades if they were to meet in the streets.
                The powers that the Gifted possess are linked to the Rent, gaining potency when it waxes, and trickling away to almost nothing when it fades from view. 
                More and more are unveiling themselves as time goes on, and although there are rumours of Gifted the world over, Venice holds the highest concentration of 
                them by far.</p>

                <img class = "showimg" src = "../../assets/images/PalazzoFinalHD.jpg" >
                <div class = "lore">
                <p>The Gifted, when magic takes over a person.</p>

                <p>The preponderance of Gifted in Venice is both a boon and a drawback for the leaders of the city. While they have come in usefull at times for completing special tasks on behalf
                    of the doge. They have just as often been highly disruptive to the running of the city by startng or joining in riots, assasinating key rulers, stealing crucial documents and so on. 
                    Every faction in Venice has used these Gifted for their own needs and ahve also had Gifted individuals help to stop them in their mission. 
                </p>

                <p>Outsiders come to the city with the hope of catching a glimpse of one of the fabled Gifted. However some of the fables are nothing more than stories, or perhaps they are spread 
                    by someone with no more power than a quick mind, simply pretending to be Gifted to earn a few coins. However their greatest threat is the Vatican forces who want to see anyone with 
                    the gift of magic killed.
                </p>

                <p>Although rumour would make it sound like there are gifted on every street corner, ultimately the number touched by the rent actually number only a few dozen. Although some are public
                    with their abilities, plenty more stay in secret, preferring the security of anonymity.
                </p>

                <p>Though it has been known for several Gifted to show up in the same place at the same time, it's a rare occurence. Two Gifted are just as likely to be enemies as they are friends. Fights 
                    between Gifted can be mesmerising to watch as each attempts to use their magical abilities to subdue the other. Despite this it is said some of the Gifted are friends, Fadhila and Harlequin
                    are apparantly close friends, and any fight between them becomes good natured sparing. 
                </p>

                <p>These gifts come with a terrible price though. A persons best and worst characteristics are heavily exageratted. Sometimes the power never stops, the artist for example can never stop 
                    painting, which means she has no rest, let alone sleep. The Black Spectre is forever a ghostly appartion while the Abberattion is always a horrifying monster which may just about remember
                    being human. 
                </p>
            </div>
            <div class = "story">
                <p>Seeing the White Dove</p>
                <p>“Maria, I swear I saw a woman soaring through the air like a bird! I couldn't believe my eyes but there she was, clear as day,” Marco protested as his wife 
                    looked on in a bemused manner.</p>

<p>“Oh come now Marco, next you’ll be telling me stories of ghosts wandering the night, or that death himself has come for us. How much wine have you had today? Honestly it's 
    quite embarrassing, our family will think you mad” Maria said, shaking her head in slight frustration.</p>

<p>“But I'm telling you, I did see a woman flying! It was incredible really, I had to close my eyes and look again but I knew I wasn't seeing things.”</p>

<p>“Okay then,” Maria said, deciding to entertain her husband, “tell me exactly what you thought you saw.”</p>

<p>“I was on my gondola, rowing down the Grand Canal close to the Rialto Bridge on my normal route. I was just approaching the bridge when I thought I saw a bird resembling 
    a white dove. However, it wasn’t a bird at all but a woman, wearing white and covered in feathers! Her mask was so bright that it even sparkled in the sunlight. I thought
     that maybe she was wearing a bird costume for the Carnevale, or perhaps a play. But she just soared right over the Rialto Bridge! I've never seen anything like it. She
      was flying, Maria, flying! It was as if she was floating above the water. It must be a blessing from God - only Jesus could walk on water. It was a miracle.”</p>

<p>“So this woman,” Maria started, “simply flew over the Rialto Bridge and then hovered along the canal? What did she do next?”</p>

<p>Marco's faced brightened before he continued. “She flew out to sea, as fast as a bird - no, faster than that! She moved as quick as anything, it was incredible. What's
     more is she looked so graceful; her hair never faltered, her long white dress reminded me of a gentle bird’s wings, and she didn’t lose her composure once. I've heard
      people even refer to her as the White Dove and I can see why. She is special, my love, gifted. Talking to fishermen on the canal, they say that she is not the only 
      'gifted' in Venice and that she is one of many which the Rent in the Sky has created. I still think it has to be the work of God, for who else has the power to bless 
      such beings?”</p>

<p>Maria was lost – surely her husband could not be telling the truth? But then how could she explain so many others seeing the exact same thing he had? If these 'gifted'
     individuals truly existed in Venice then this was proof of something sacred, that some higher power existed in the world. How else could such beings exist? Had they 
     always been this way, or had the Rent given them their power? For Maria, it was above her understanding.</p>
            </div>
                         <img class = "showimg" src = "../../assets/photos/Cool Gifted.png" >

                         <p>Play Style</p>

                         <p>Rarely do you see a gang of Gifted altogether. In fact, many of the Gifted have never even met eachother. Usually they are found helping gangs of other factions,
                             primarily for profit, but sometimes out of a desire to help, or to cause chaos, or even for the slaugther. Each character is a superhero in their own right, with
                             special abilities that make them stand apart from others. Should you take a gang of Gifted, you'll most likely be outnumbered, but each character you have is powerful.
                         </p>

                         


     
        <img src= "../../assets/images/factionstrips/Paint Strip Gifted.png" height = 100 width = 100%>
     </div>