
    <app-menu></app-menu>

    <div class  = "factionname"> The Gifted </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Gifted.png" height = 100 width = 100%>
        <p>The people known as Gifted are not a single entity. Most have never even met each other, let alone work together. Each holds their own view on the world, and 
            although sometimes their paths and goals cross, it’s equally likely that members of this moniker will cross blades if they were to meet in the streets.
                The powers that the Gifted possess are linked to the Rent, gaining potency when it waxes, and trickling away to almost nothing when it fades from view. 
                More and more are unveiling themselves as time goes on, and although there are rumours of Gifted the world over, Venice holds the highest concentration of 
                them by far.</p>

                <img class = "showimg" src = "../../assets/images/PalazzoFinalHD.jpg" >

                <p>The Masked Angel</p>

                <p>The first Gifted appeared a month after the Rent in the Sky. Mass convened at Saint Mark’s Square in morning for the loss of the Holy See, overseen by Patriarch 
                    Cardinal Frederico Maria Giovanelli. Thousands gathered in front of the cathedral to hear the Patriarch speak. The ceremony took place in the open air and so a 
                    greater part of the crowd wore or carried their masks as was custom. 
                        While Giovanelli officiated the homily, a strange occurrence drew the attention of all present. At the far side of the square a woman garbed in a costume of 
                        bright feathers and golden mask ascended gracefully above their heads, as though lifted by the hand of God. She floated there unconcerned, the wind whipping
                         at her wing-like attire. Thinking it a miracle blessing their congregation, the assembled parishioners felt to their knees, mute in their adoration of this
                          sign from the Almighty. Thinking her angelic, or perhaps an incarnation of the Blessed Virgin herself, they raised their arms to the sky, silent prayers
                           likewise lifted to the heavens.
                        Passing over their heads, the woman floated toward the Campanile of the cardinal and then ascended to the cathedral tower. She turned abruptly toward the 
                        sea and with startling acceleration sped out towards the nearby lagoon where a ship had just cast off. As it set its sails, the flying apparition lifted a 
                        white-gloved hand to release a beam of scintillating light. The ray struck the mainsail and immediately set it ablaze, the canvas disappearing to ash in
                         moments. Again and again she pulsed burning light into the ship and several sailors that fled the destruction by jumping overboard. The excoriating beams
                          played along the timbers, searing through decks and mast, until they found a store of gunpowder in the deep hold. The powder detonated, turning the ship
                           into a cloud of burning splinters.
                        The crowd, now gasping and shouting, fled in panic as the woman turned and flew back toward the city. Where she went next, none remained to observe. Of the 
                        ship, it was later discovered there were no survivors, but among the wreckage they fished out two Ottoman spies. Upon them they carried documents that would
                         have been highly compromising to the Doge and his associates.</p>

                         <img class = "showimg" src = "../../assets/images/HQ (unkown).jpg" >

                         <p>Play Style</p>

                         <p>Rarely do you see a gang of Gifted altogether. In fact, many of the Gifted have never even met eachother. Usually they are found helping gangs of other factions,
                             primarily for profit, but sometimes out of a desire to help, or to cause chaos, or even for the slaugther. Each character is a superhero in their own right, with
                             special abilities that make them stand apart from others. Should you take a gang of Gifted, you'll most likely be outnumbered, but each character you have is powerful.
                         </p>

                         


     
        <img src= "../../assets/images/factionstrips/Paint Strip Gifted.png" height = 100 width = 100%>
     </div>