<div class = "charcardsbody">
    <app-menu></app-menu>

    <h1>Character Stat Cards</h1>

    <div class = "textbox">
      <p> These are the stat cards for all the characters in the game. These are updated whenever there is a major update, which means there may be small innacuracies, 
        the most recent stats are on the Gang Builder App, however if you wish to use these, you can use the app to make a note of updates yourself.</p>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          The Guild
        </mat-panel-title>
        <mat-panel-description>
          Click to reveal Guild Character Cards
        </mat-panel-description>
        </mat-expansion-panel-header>
        <h3>Leaders</h3>
        <a href = "../../assets/images/statcards/guild/Prince of Thieves.pdf" target = "_blank">Prince of Thieves</a><br>
        <a href = "../../assets/images/statcards/guild/Capodecina.pdf" target = "_blank">Capodecina</a><br>
        <a href = "../../assets/images/statcards/guild/King Pulcinella.pdf" target = "_blank">King Pulcinella</a><br>
        <a href = "../../assets/images/statcards/guild/Madame.pdf" target = "_blank">Madame</a><br>
        <a href = "../../assets/images/statcards/guild/King Pulcinella.pdf" target = "_blank">King Pulcinella</a><br>
        <h3>Heroes</h3>
        <a href = "../../assets/images/statcards/guild/Black Lamp.pdf" target = "_blank">Black Lamp</a><br>
        <a href = "../../assets/images/statcards/guild/Baba-Yaga.pdf" target = "_blank">Baba-Yaga</a><br>
        <a href = "../../assets/images/statcards/guild/Rialto Assassin.pdf" target = "_blank">Rialto Assassin</a><br>
        <a href = "../../assets/images/statcards/guild/Butcher.pdf" target = "_blank">Butcher</a><br>
        <a href = "../../assets/images/statcards/guild/Barber.pdf" target = "_blank">Barber</a><br>
        <a href = "../../assets/images/statcards/guild/Fisherman.pdf" target = "_blank">Fisherman</a><br>
        <a href = "../../assets/images/statcards/guild/Baroni.pdf" target = "_blank">Baroni</a><br>
        <a href = "../../assets/images/statcards/guild/Ostrich Riding Pulcinella.pdf" target = "_blank">Ostrich Ridning Pulcinella</a><br>
        <a href = "../../assets/images/statcards/guild/Recruiter.pdf" target = "_blank">Recruiter</a><br>
        <h3>Henchmen</h3>
        <a href = "../../assets/images/statcards/guild/Citizen.pdf" target = "_blank">Citizen</a><br>
        <a href = "../../assets/images/statcards/guild/Pilferer.pdf" target = "_blank">Pilferer</a><br>
        <a href = "../../assets/images/statcards/guild/Gondolier.pdf" target = "_blank">Gondolier</a><br>
        <a href = "../../assets/images/statcards/guild/Dog Keeper.pdf" target = "_blank">Dog Keeper</a><br>
        <a href = "../../assets/images/statcards/guild/Dog.pdf" target = "_blank">Dog</a><br>
        <a href = "../../assets/images/statcards/guild/Pulcinella.pdf" target = "_blank">Pulcinella</a><br>
        <a href = "../../assets/images/statcards/guild/Harlot.pdf" target = "_blank">Harlot</a><br>

        </mat-expansion-panel>
        
      </div>
   

    




</div>

