<div class = "charcardsbody">
    <app-menu></app-menu>

    <h1>Character Cards</h1>

    <div class = "textbox">
      <p> These are the stat cards for all the characters in the game. These are updated whenever there is a major update, which means there may be small innacuracies, 
        the most recent stats are on the Gang Builder App, however if you wish to use these, you can use the app to make a note of updates yourself.</p>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          <p class = "guildtitle">The Guild</p>
        </mat-panel-title>
        <mat-panel-description>
          Click to reveal Guild Character Cards
        </mat-panel-description>
        </mat-expansion-panel-header>
        <h3>Leaders</h3>
        <a href = "../../assets/images/statcards/guild/Prince of Thieves.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Prince of Thieves.png"></a>
        <a href = "../../assets/images/statcards/guild/Capodecina.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Capodecina.png"></a>
        <a href = "../../assets/images/statcards/guild/King Pulcinella.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/King Pulcinella.png"></a>
        <a href = "../../assets/images/statcards/guild/Madame.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Madame.png"></a>
        
        <h3>Heroes</h3>
        <a href = "../../assets/images/statcards/guild/Black Lamp.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Black Lamp.png"></a>
        <a href = "../../assets/images/statcards/guild/Baba-Yaga.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Baba-Yaga.png"></a>
        <a href = "../../assets/images/statcards/guild/Rialto Assassin.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Rialto Assassin CV0.png"></a>
        <a href = "../../assets/images/statcards/guild/Butcher.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Butcher.png"></a>
        <a href = "../../assets/images/statcards/guild/Barber.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Barber.png"></a>
        <a href = "../../assets/images/statcards/guild/Fisherman.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Fisherman.png"></a>
        <a href = "../../assets/images/statcards/guild/Baroni.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Baroni.png"></a>
        <a href = "../../assets/images/statcards/guild/Ostrich Riding Pulcinella.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Ostrich Pulcinella.png"></a>
        <a href = "../../assets/images/statcards/guild/Recruiter.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Recruiter.png"></a>
        <h3>Henchmen</h3>
        <a href = "../../assets/images/statcards/guild/Citizen.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Citizens.png"></a>
        <a href = "../../assets/images/statcards/guild/Pilferer.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Pilferer.png"></a>
        <a href = "../../assets/images/statcards/guild/Gondolier.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Gondoliere.png"></a>
        <a href = "../../assets/images/statcards/guild/Dog Keeper.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Dog Keeper.png"></a>
        <a href = "../../assets/images/statcards/guild/Dog.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Dogs.png"></a>
        <a href = "../../assets/images/statcards/guild/Pulcinella.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Pulcinella.png"></a>
        <a href = "../../assets/images/statcards/guild/Harlot.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/guild/Harlots.png"></a>

        <h3>All Guild Cards</h3>
        <a href = "../../assets/ZipFiles/Guild Character Cards.zip" target = "_blank">All Guild Character Cards</a>

        </mat-expansion-panel>
        <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
              <p class = "rashaartitle">Rashaar</p>
            </mat-panel-title>
            <mat-panel-description>
              Click to reveal Rashaar Character Cards
            </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>Leaders</h3>
            <a href = "../../assets/images/statcards/rashaar/Magi-Rashaar.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Magi-Rashaar.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Voice of Dagon.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Voice of Dagon.png"></a>
            <a href = "../../assets/images/statcards/rashaar/The Flame That Burns Underwater.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Flame That Burns Underwater.png"></a>
            
            <h3>Heroes</h3>
            <a href = "../../assets/images/statcards/rashaar/Morgraur.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Morgruar-Rashaar.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Raadru.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Radru-Rashaar.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Karcharos.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Karcharos.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Brachyura.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Brachyura.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Sirena.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Sirena-Rashaar.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Dagonite Priest.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Priest of Dagon.png"></a>
            
            <h3>Henchmen</h3>
            <a href = "../../assets/images/statcards/rashaar/Lesser Ugdru.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Ugdru-Rashaar.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Aglaope.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Aglaope.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Slave.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Slaves.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Dagon Officiant.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Officiants.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Hybrid.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Hybrid.png"></a>
            <a href = "../../assets/images/statcards/rashaar/Advanced Hybrid.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/rashaar/Advanced Hybrid.png"></a>

            <h3>All Rashaar Character Cards</h3>
            <a href = "../../assets/ZipFiles/Rashaar Character Cards.zip" target = "_blank">All Rashaar Character Cards</a>
            
    
            </mat-expansion-panel>

            <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
              <p class = "doctorstitle">The Doctors</p>
            </mat-panel-title>
            <mat-panel-description>
              Click to reveal The Doctors Character Cards
            </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>Leaders</h3>
            <a href = "../../assets/images/statcards/doctors/Plague Doctor.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Plague Doctor.png"></a>
            <a href = "../../assets/images/statcards/doctors/Doctor of the Mind.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Doctor of the Mind.png"></a>
            
            
            <h3>Heroes</h3>
            <a href = "../../assets/images/statcards/doctors/The Being.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/The Being.png"></a>
            <a href = "../../assets/images/statcards/doctors/Doctor of the Arsenal.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Doctor of the Arsenale.png"></a>
            <a href = "../../assets/images/statcards/doctors/Alchemist Doctor.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Alchemist Doctor.png"></a>
            <a href = "../../assets/images/statcards/doctors/Doctor of the Beasts.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Doctor of the Beasts.png"></a>
            <a href = "../../assets/images/statcards/doctors/Morgue Doctor.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Morgue Doctor.png"></a>
            <a href = "../../assets/images/statcards/doctors/Unleased Madman.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Unleashed Madman.png"></a>
            <a href = "../../assets/images/statcards/doctors/Warden" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Warden.png"></a>
            
            
            <h3>Henchmen</h3>
            <a href = "../../assets/images/statcards/doctors/Carrion.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Carrion.png"></a>
            <a href = "../../assets/images/statcards/doctors/Lab Assistant.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Lab Assistant.png"></a>
            <a href = "../../assets/images/statcards/doctors/Nurse.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Nurse.png"></a>
            <a href = "../../assets/images/statcards/doctors/Madmen" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Madmen.png"></a>
            <a href = "../../assets/images/statcards/doctors/Rhino" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Rhinoceros.png"></a>
            <a href = "../../assets/images/statcards/doctors/Crocodile.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Crocodile.png"></a>
            <a href = "../../assets/images/statcards/doctors/Lion.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Lion.png"></a>
            <a href = "../../assets/images/statcards/doctors/Gorilla.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/doctors/Gorilla.png"></a>

            <h3>All Doctors Character Cards</h3>
            <a href = "../../assets/ZipFiles/Doctors Character Cards.zip" target = "_blank">All Doctors Character Cards</a>
            
    
            </mat-expansion-panel>

            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class = "patricianstitle">The Patricians</p>
                </mat-panel-title>
                <mat-panel-description>
                  Click to reveal The Patricians Character Cards
                </mat-panel-description>
                </mat-expansion-panel-header>
                <h3>Leaders</h3>
                <a href = "../../assets/images/statcards/patricians/Venetian Noble.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Noble edit.png"></a>
                <a href = "../../assets/images/statcards/patricians/Guard Commander.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Commander of the Guard.png"></a>             
                
                
                <h3>Heroes</h3>
                <a href = "../../assets/images/statcards/patricians/Sun.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Sun.png"></a> 
                <a href = "../../assets/images/statcards/patricians/Moon.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Moon.png"></a>    
                <a href = "../../assets/images/statcards/patricians/Fencing Master.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Fencing Master.png"></a>   
                <a href = "../../assets/images/statcards/patricians/Syphilitic Noble.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Syphilitic Noble.png"></a>
                <a href = "../../assets/images/statcards/patricians/Adventuring Noble.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Adventuring Noble.png"></a>  
                <a href = "../../assets/images/statcards/patricians/Foreign Noble.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Foreign Noble.png"></a>  
                <a href = "../../assets/images/statcards/patricians/Venetian Spy.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Foreign Spy.png"></a>
                <a href = "../../assets/images/statcards/patricians/Cat Burglar.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/White Collar Thief.png"></a>
                <a href = "../../assets/images/statcards/patricians/Captain of the Guard.pdf.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Captain of the Guard.png"></a>               
                
                
                <h3>Henchmen</h3>
                <a href = "../../assets/images/statcards/patricians/Barnabotti.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Barnabotti MF.png"></a>
                <a href = "../../assets/images/statcards/patricians/Merchant" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Merchant 12.png"></a>
                <a href = "../../assets/images/statcards/patricians/Household Staff.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/House Staff.png"></a>  
                <a href = "../../assets/images/statcards/patricians/Soldier of the Guard.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Soldier of the Guard 2.png"></a>
                <a href = "../../assets/images/statcards/patricians/Marksman of the Guard.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Soldier of the Guard 1.png"></a>
                <a href = "../../assets/images/statcards/patricians/Courtesan.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/patricians/Courtesan.png"></a>    
                
                <h3>All Patricians Character Cards</h3>
                <a href = "../../assets/ZipFiles/Patricians Character Cards.zip" target = "_blank">All Patricians Character Cards</a>            
        
                </mat-expansion-panel>
        
                <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class = "vaticantitle">The Vatican</p>
                </mat-panel-title>
                <mat-panel-description>
                  Click to reveal The Vatican Character Cards
                </mat-panel-description>
                </mat-expansion-panel-header>
                <h3>Leaders</h3>
                <a href = "../../assets/images/statcards/vatican/Inquisitor.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Inquisitor.png"></a>
                <a href = "../../assets/images/statcards/vatican/Exorcist" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Exorcist.png"></a>
                <a href = "../../assets/images/statcards/vatican/Patriarch Bishop de Bernis.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Domonique.png"></a>
                <a href = "../../assets/images/statcards/vatican/Felix Baumgartner.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Felix Baumgartner.png"></a>                           
                
                
                <h3>Heroes</h3>
                <a href = "../../assets/images/statcards/vatican/Thomas Thieme.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Thomas Thieme.png"></a>
                <a href = "../../assets/images/statcards/vatican/Cross-bearing Deacon.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Cross-bearing Deacon.png"></a>
                <a href = "../../assets/images/statcards/vatican/Kinight of Malta.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Knight of Malta.png"></a>
                <a href = "../../assets/images/statcards/vatican/Prelate of the Flaming Sword.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Prelates of the Flaming Sword.png"></a>
                <a href = "../../assets/images/statcards/vatican/Inquisition Commissioner.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Inquisition Commisioner.png"></a>
                <a href = "../../assets/images/statcards/vatican/Summoner Priest.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Summoner Priest.png"></a>
                <a href = "../../assets/images/statcards/vatican/Golgotha.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Golgotha.png"></a>
                <a href = "../../assets/images/statcards/vatican/Executioner.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Executioner.png"></a>                        
                
                
                <h3>Henchmen</h3>
                <a href = "../../assets/images/statcards/vatican/Priest.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Priests.png"></a>
                <a href = "../../assets/images/statcards/vatican/French Guard.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/French Guard.png"></a>
                <a href = "../../assets/images/statcards/vatican/Bishop Guard.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Bishop Guard.png"></a>
                <a href = "../../assets/images/statcards/vatican/Martyr.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Martyr.png"></a>
                <a href = "../../assets/images/statcards/vatican/Altar Boy.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Alter Boy.png"></a>
                <a href = "../../assets/images/statcards/vatican/Lacrimosa.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/vatican/Lacrimosa.png"></a>

                <h3>All Vatican Character Cards</h3>
                <a href = "../../assets/ZipFiles/Vatican Character Cards.zip" target = "_blank">All Vatican Character Cards</a>
                
        
                </mat-expansion-panel>      
      

      <br>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
          <mat-panel-title>
            <p class = "strigoititle">Strigoi</p>
          </mat-panel-title>
          <mat-panel-description>
            Click to reveal Strigoi Character Cards
          </mat-panel-description>
          </mat-expansion-panel-header>
          <h3>Leaders</h3>
          <a href = "../../assets/images/statcards/strigoi/Noble Strigoi.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Noble Strigoi.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Blood Crone.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Blood Crone.png"></a> 
          <a href = "../../assets/images/statcards/strigoi/Vlad Dracula.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Vlad.png"></a>                           
          
          
          <h3>Heroes</h3>
          <a href = "../../assets/images/statcards/strigoi/Varcolac.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Varcolac.png"></a> 
          <a href = "../../assets/images/statcards/strigoi/Strigoi Priest.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Strigoi Priest.png"></a> 
          <a href = "../../assets/images/statcards/strigoi/Reaper.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Reaper.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Strige.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Strige.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Aquatic Strigoi.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Aquatic Strigoi.png"></a> 
          <a href = "../../assets/images/statcards/strigoi/Brides of Dracula.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/BridesofDracula.png"></a>                  
          
          
          <h3>Henchmen</h3>
          <a href = "../../assets/images/statcards/strigoi/Common Strigoi.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Strigoi.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Newborn Strigoi.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Newborn Strigoi.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Nosferatu.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Nosferatu.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Thrall.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Servants.png"></a>
          <a href = "../../assets/images/statcards/strigoi/Romani.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/strigoi/Romani.png"></a>

          <h3>All Strigoi Character Cards</h3>
          <a href = "../../assets/ZipFiles/Strigoi Character Cards.zip" target = "_blank">All Strigoi Character Cards</a>       
          
  
          </mat-expansion-panel>

          <br>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
          <mat-panel-title>
            <p class = "giftedtitle">Gifted</p>
          </mat-panel-title>
          <mat-panel-description>
            Click to reveal Gifted Character Cards
          </mat-panel-description>
          </mat-expansion-panel-header>
          <h3>Leaders</h3>
          <a href = "../../assets/images/statcards/gifted/Il Capitano.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Il Capitano.png"></a>                              
          
          
          <h3>Heroes</h3>
          <a href = "../../assets/images/statcards/gifted/The Duke.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/The Duke.png"></a>
          <a href = "../../assets/images/statcards/gifted/White Dove.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/White Dove.png"></a>
          <a href = "../../assets/images/statcards/gifted/The Aberration.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Aberration.png"></a>
          <a href = "../../assets/images/statcards/gifted/Fadhila.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Fadhila.png"></a>
          <a href = "../../assets/images/statcards/gifted/Burratino.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Burratino.png"></a>
          <a href = "../../assets/images/statcards/gifted/Fate.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Fate.png"></a>
          <a href = "../../assets/images/statcards/gifted/Justice.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Justice.png"></a>
          <a href = "../../assets/images/statcards/gifted/Black Spectre.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Black Spectre.png"></a>
          <a href = "../../assets/images/statcards/gifted/The Mask Maker.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/The Mask Maker.png"></a>
          <a href = "../../assets/images/statcards/gifted/The Artist.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/The Artist.png"></a>
          <a href = "../../assets/images/statcards/gifted/Harlequin.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Harlequin.png"></a>
          
          
          <h3>Henchmen</h3>
          <a href = "../../assets/images/statcards/gifted/Il Dottore.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Il Dottore.png"></a>
          <a href = "../../assets/images/statcards/gifted/Pantaleone.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Pantaleone.png"></a>
          <a href = "../../assets/images/statcards/gifted/Colombina.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Colombina.png"></a>
          <a href = "../../assets/images/statcards/gifted/Brighella.pdf" target = "_blank"><img class = "charicon" src = "../../assets/images/charactericons/gifted/Brighella.png"></a>
          
          <h3>All Gifted Character Cards</h3>

          <a href = "../../assets/ZipFiles/Gifted Character Cards.zip" target = "_blank">All Gifted Character Cards</a>   
          
  
          </mat-expansion-panel>
  
</div>
   

    




</div>

