.charcardsbody{
    height: auto;
}

.textbox{
    text-align: center;    
    background-color: black;
}

svg{
    fill: #9a191a;
    height: 40px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.miniaturegrid{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 17% 17% 17% 17% 17%;
    background-color: black;
    padding: 10px;
    color: #9a191a;
}

.grid-item{
    background-color: black;
    border: 1px solid #9a191a;
    padding: 0px;
    text-align: center;
    color: #9a191a;
}

mat-expansion-panel{
    color: #9a191a;
    background-color: rgb(197, 197, 197);
    text-align: center;
}

mat-panel-description{
    color: #9a191a;
    
}

mat-panel-title{
    min-width: 35%;
    
}


.guildtitle{
    color: #d20a11;
    font-family: Buckingham;
}

.rashaartitle{
    color: #37ab49;
    font-family: Buckingham;
}

.doctorstitle{
    font-family: Buckingham;
    color: #5bc5f2;
}

.patricianstitle{
    font-family: Buckingham;
    color: #6e4292;
}

.vaticantitle{
    font-family: Buckingham;
    color: #f9b122;
}

.strigoititle{
    color: #2e3192;
    font-family: Buckingham;
}

.giftedtitle{
    color: #ef7e25;
    font-family: Buckingham;
}

a{
    color: black;
    font-size: medium;
}

a:hover{
    color: #9a191a;
}

.charicon{
    height: 200px;
}

  

@media screen and (max-width: 1200px){
    .miniaturegrid{
        grid-template-columns: auto auto auto
    }
  }

  @media screen and (max-width: 600px){
    .miniaturegrid{
        grid-template-columns: auto 
    }
    .charicon{
        height: 100px;
    }

    mat-panel-description{
        color: #9a191a;
        font-size: small;
        
    }
  }