
    <app-menu></app-menu>

    <div class = "factionname">The Strigoi </div>

    <div class = "textbox">
        
            <img src= "../../assets/images/factionstrips/Paint Strip Strigoi.png" height = 100 width = 100%>
        <p>From the birth of humanity there have always been individuals possessed of the ability to tap into the otherworldly energy known as magic. While the opening of the Rent 
            in the Sky has awakened
             many to their powers, there have always been a scant few individuals throughout time that tapped into this primordial force. Of this latter category perhaps the most
              infamous is Vlad Dracul, also known as Count Dracula. </p>

              <img class = "showimg" src = "../../assets/images/23 - Strigoi HQ.jpg" >
                <div class = "lore">
              <p>The Strigoi, the bloodline of Vlad Dracul</p>

              <p>Vlad Dracul's life is shrouded in mystery. Claimed to have once been a prince of Transylvania, he was a staunch defender of the Church against the Ottoman empire. Exactly what happened
                  is a mystery and there are various different stories, whether the church betrayed him and left his family abandoned to the Ottoman empire to be ravaged and murdered leading Vlad to 
                  promise God that all traitors to the church will come to justice, or whether Vlad simply turned against the church and sided with the devil himself, meaning God bought the devastation upon
                his nation.  </p>

                <p> With his army and lands decimated, Vlad wandered the Ottoman Empire eventually learning of places where reality was stretched thin, and he could claim a power beyond
                    other mortal men. He went in search of this power, discovering the power of blood and ritual sacrifice for himself. All he would have to do to gain the power he craved for himself
                    was to provide a blood sacrifice. Blood of his own and of the innocent, he kidnapped many citizens, staking them to the floor of this accursed temple. Having given the sacrfice of the 
                    innocent, he ventured into the inner chamber. What happened in there was a small version of the event that caused the rent in the sky, reality was torn open and eldritch energy leaked into 
                    the world. 
                </p>

                <p>The change in the count was immense, no longer was he fuelled by just a craving for power instead he was fuelled by a desire for wanton bloodshed. He feasted upon the blood of the first 
                    mortal he saw, the guide he had for this place. As he drank deep of his blood he saw his victims memories, lived his life backwards within seconds. Dracul was now more than one person, but 
                    less than one soul. He travelled Europe, feasting on anyone he found, discovering more of his powers, how he could recover from wounds that would fell any mere mortal. However he soon learnt
                    that he could no longer walk in the sunlight lest it burn him. The darkness was now his domain.
                </p>

                <p>His travels lead him to a Romani caravan, the Romani being fluent in magic an old crone taught him more of his abilities, and taught him how to turn his victims into slaves for himself. Thus the first 
                    Strigoi was created. He learned to control his power, and to control his new follower. He travelled for years with the Romani caravan, gaining new followers, but never from the Romani 
                    themselves, out of both respect, and fear of vengeance from the elders. In order to not cloud his own mind with the thoughts of all his followers, he had his followers deliver the Blood Kiss. 
                    This way he could have many, many followers, without having to directly control each one. 
                </p>

                <p>The Strigoi now exist in Venice on the island of San Michele, originally sanctioned as a graveyard, the Strigoi can now make excursions to the mainland while having a safe 
                    place to rest and hide during the day. Vlad has lost all interest in the care of his subjects, his brides, an experiemnt by the Romani and himself gone wrong, have seen their magical power 
                    grow with the appearnce of the rent. He experiments on his servants, having them feed on the various differnt creatures, aiming to unlock new powers.
                </p>
            </div>
            <div class = "story">
                <p>Test</p>test
            </div>


                      <img class = "showimg" src = "../../assets/photos/Strigoi Guild Square.png" >

                      <p>Game Play</p>

                      <p>Are you prepared to risk everything to achieve total victory? Like making brave choices for glory? The Strigoi are a faction exemplifying risk vs reward.
                          Using their own life point as will points they take a massive risk whenever they use an ability with will points, however they can regain their life points 
                          by attacking. There isn't a lot of magic within the Strigoi, what they have comes from the Romani and from the Brides of Dracula. However when you can release
                          Vlad Dracula onto the streets magic is far from the be all and end all. 
                      </p>

                      
     
        <img src= "../../assets/images/factionstrips/Paint Strip Strigoi.png" height = 100 width = 100%>
     </div>
