
    <app-menu></app-menu>

    <img src = "../../assets/images/Strigoi Picture.png" width = 100%>

    <div class = "introtextbox">
        
           
        <p>From the birth of humanity there have always been individuals possessed of the ability to tap into the otherworldly energy known as magic. While the opening of the Rent 
            in the Sky has awakened
             many to their powers, there have always been a scant few individuals throughout time that tapped into this primordial force. Of this latter category perhaps the most
              infamous is Vlad Dracul, also known as Count Dracula. </p>

        </div>
             <img src = "../../assets/photos/Strigoi Vs Doctors.jpg" width = 100%>
<div class = "textbox">
              <p>Vlad Dracul's life is shrouded in mystery. Claimed to have once been a prince of Transylvania, he was a staunch defender of the Church against the Ottoman empire. Exactly what happened
                  is a mystery and there are various different stories, whether the church betrayed him and left his family abandoned to the Ottoman empire to be ravaged and murdered leading Vlad to 
                  promise God that all traitors to the church will come to justice, or whether Vlad simply turned against the church and sided with the devil himself, meaning God bought the devastation upon
                his nation.  </p>
                <img class = "showimgwithintext" src = "../../assets/images/23 - Strigoi HQ.jpg" >

                <p> With his army and lands decimated, Vlad wandered the Ottoman Empire eventually learning of places where reality was stretched thin, and he could claim a power beyond
                    other mortal men. He went in search of this power, discovering the power of blood and ritual sacrifice for himself. All he would have to do to gain the power he craved for himself
                    was to provide a blood sacrifice. Blood of his own and of the innocent, he kidnapped many citizens, staking them to the floor of this accursed temple. Having given the sacrfice of the 
                    innocent, he ventured into the inner chamber. What happened in there was a small version of the event that caused the rent in the sky, reality was torn open and eldritch energy leaked into 
                    the world. 
                </p>

                <p>The change in the count was immense, no longer was he fuelled by just a craving for power instead he was fuelled by a desire for wanton bloodshed. He feasted upon the blood of the first 
                    mortal he saw, the guide he had for this place. As he drank deep of his blood he saw his victims memories, lived his life backwards within seconds. Dracul was now more than one person, but 
                    less than one soul. He travelled Europe, feasting on anyone he found, discovering more of his powers, how he could recover from wounds that would fell any mere mortal. However he soon learnt
                    that he could no longer walk in the sunlight lest it burn him. The darkness was now his domain.
                </p>

                <p>His travels lead him to a Romani caravan, the Romani being fluent in magic an old crone taught him more of his abilities, and taught him how to turn his victims into slaves for himself. Thus the first 
                    Strigoi was created. He learned to control his power, and to control his new follower. He travelled for years with the Romani caravan, gaining new followers, but never from the Romani 
                    themselves, out of both respect, and fear of vengeance from the elders. In order to not cloud his own mind with the thoughts of all his followers, he had his followers deliver the Blood Kiss. 
                    This way he could have many, many followers, without having to directly control each one. 
                </p>

                <p>The Strigoi now exist in Venice on the island of San Michele, originally sanctioned as a graveyard, the Strigoi can now make excursions to the mainland while having a safe 
                    place to rest and hide during the day. Vlad has lost all interest in the care of his subjects, his brides, an experiemnt by the Romani and himself gone wrong, have seen their magical power 
                    grow with the appearnce of the rent. He experiments on his servants, having them feed on the various differnt creatures, aiming to unlock new powers.
                </p>
            </div>
            
      <img src = "../../assets/images/Striges feast.png.jpg" width = 100%>      
   <div class = "textbox">             
<p>Vlad stood waiting impatiently for the prisoners to be brought out. He had been told that his new-borns were able to hunt, but what exactly had they caught? He had been 
    informed that they had done exceedingly well and that their master would be pleased. “Sycophants,” he snorted.</p>

<p>Eventually three prisoners were dragged out of a small building and brought before him where they were forced to their knees, their heads bowed in supplication. “Who are 
    these wretches?” Vlad spat with contempt.</p>
<p>“My liege, as you requested we gathered a man of noble blood, one of common blood and this fish-like creature, “ a retainer replied, beckoning forward two servants who had
     restrained a Rashaar Hybrid. “These are for the experiments, aren't they master? You wouldn't believe how hard this beast was to...”</p>

<p>“Silence!” Vlad commanded. “These will do, but how many did you lose in attempting to capture this beast?” Before the retainer could utter a response, Vlad held up a hand. 
    “No matter, it is of no consequence to me. All that is important is that we have the blood necessary for the transformation.” With that he tossed the quivering nobleman 
    roughly to a Strigoi. “Drink his blood.”</p>
    <img class = "showimgwithintext" src = "../../assets/photos/Strigoi Guild Square.png" >

<p>The Strigoi grinned wickedly, his fanged teeth glistening. Without hesitation he forced the noble's head to the side, exposing a supple neck. Whimpering, the man tried 
    desperately to cover himself but the Strigoi was too strong and, slumping down, he accepted his doomed fate. The Strigoi clamped its teeth down and began to drink. Dark 
    red blood dripped from his mouth and before long the man fell to the floor, lifeless.</p>

<p>Instantly the Strigoi began to change, his features taking on those of the man whom he had just killed. The memories of his victim began to flood the Strigoi’s mind as if 
    they were his own, and he even adopted the same mannerisms as the noble. Putting on the clothes of his victim the Strigoi now resembled the man whose life force he had 
    just consumed.</p>

<p>Pleased with the results of the first experiment, Vlad beckoned to another of his Strigoi to now drink the blood of the Hybrid Rashaar. She dutifully obeyed and, although 
    the Rashaar put up much more of a fight, she too consumed its blood. Again, the change was instantaneously. The Strigoi began to develop the gills and fins of the Rashaar 
    and as the creature’s mannerisms came to her, she took on its animalistic nature. Consumed by the savage temperament, the Strigoi tore viciously at the corpse lain at her
     feet. She had been reborn as a monster, completely savage in nature. <i>The Rashaar will not be able to tell the difference</i>, Vlad thought to himself.</p>      

<p>“What of this one?” Vlad's retainer asked, indicating to the man of common blood. Vlad smirked as he moved towards the snivelling commoner. “Mercy,” he retorted. The man’s
     face broke into a smile, only to be interrupted by Vlad as he raised a heavy axe above his head. He swung it down with great force and in one swift movement decapitated 
     the helpless man. His head had not even hit the grass before Vlad had turned away and began walking back.</p>
    </div>  

<img src = "../../assets/photos/Rashaar Vs Strigoi.jpg" width = 100%>
                      
<div class = "textbox">
                      <img class = "showimgwithintext" src = "../../assets/photos/Brides of Dracula.png">
                      <p>Are you prepared to risk everything to achieve total victory? Like making brave choices for glory? The Strigoi are a faction exemplifying risk vs reward.
                          Using their own life point as will points they take a massive risk whenever they use an ability with will points, however they can regain their life points 
                          by attacking. There isn't a lot of magic within the Strigoi, what they have comes from the Romani and from the Brides of Dracula. However when you can release
                          Vlad Dracula onto the streets magic is far from the be all and end all. 
                      </p>

                      
     
       
     </div>
