
    <app-menu></app-menu>

    <div class = "factionname">The Strigoi </div>

    <div class = "textbox">
        
            <img src= "../../assets/images/factionstrips/Paint Strip Strigoi.png" height = 100 width = 100%>
        <p>From the birth of humanity there have always been individuals possessed of the ability to tap into the otherworldly energy known as magic. While the opening of the Rent 
            in the Sky has awakened
             many to their powers, there have always been a scant few individuals throughout time that tapped into this primordial force. Of this latter category perhaps the most
              infamous is Vlad Dracul, also known as Count Dracula. </p>

              <img class = "showimg" src = "../../assets/images/23 - Strigoi HQ.jpg" >

              <p>Forgotten History</p>

              <p>Vlad Dracul’s life is shrouded in mystery, dating back many hundreds of years. Records destroyed in the loss of the Vatican claimed he was once a prince of the
                   land of Transylvania, a staunch defender of the Mother Church against the invading Ottoman Turks. Those lost archives recorded how he turned upon his
                    benefactors in Rome, swore his soul to the devil instead, and was laid low by the vengeance of God.
                    Folk tales of the Carpathian Mountains tell a different story, of a proud ruler betrayed by the Pope, his family and people abandoned to the ravages of 
                    Turkish marauders while he fought the Church’s battles abroad. They whisper around the campfires of how Vlad Dracul, a bloodthirsty general already,
                     swore an oath to the heavens to rid the world of the traitors in the Vatican. After several hundred years it might seem that God has answered his prayers
                      and struck down those that saw Dracul’s nation ravaged and his loved ones murdered.
                    The origins of the Count’s gifts and curse have been lost to antiquity and if this centuries-old being remembers he does not share them. Any close to him 
                    at the time have long died, and rumour has long overtaken truth about Dracul’s transformation.
                    Vlad was born in the land of Wallachia, and after an uneasy early life fighting for and then against the Church, he rose to rule the country. His bloody
                     campaign at the head of an Ottoman army culminated in 1448. Although briefly successful, his forces were battered, and after barely two months he was 
                     forced to retreat. Dracul’s exile saw him beaten and ashamed. He spent the next few years travelling the Ottoman Empire, through Hungary and finally
                      meeting his enemy’s deputy, Nicholas Vizaknai in Transylvania.</p>

                      <img class = "showimg" src = "../../assets/images/20 - Church of Darkness.jpg" >

                      <p>Game Play</p>

                      <p>Are you prepared to risk everything to achieve total victory? Like making brave choices for glory? The Strogoi are a faction exemplifying risk vs reward.
                          Using their own life point as will points they take a massive risk whenever they use an ability with will points, however they can regain their life points 
                          by attacking. There isn;t a lot of magic within the Strigoi, what they have comes from the Romani and from the Brides of Dracula. However when you can release
                          Vlad Dracula onto the streets magic is far from the be all and end all. 
                      </p>

                      <div class="miniaturegrid">
                            <div class="grid-item">Noble Strigoi <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Noble Strigoi.png" > </div>
                            <div class="grid-item">Blood Crone <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Blood Crone.png" > </div>
                            <div class="grid-item">Vlad Dracula <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Vlad.png"> </div>
                            <div class="grid-item">Varcolac <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Varcolac.png" > </div>
                            <div class="grid-item">Strigoi Priest <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Strigoi Priest.png" > </div>
                            <div class="grid-item">Reaper <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Reaper.png" > </div>
                            <div class="grid-item">Strige <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Strige.png" > </div>
                            <div class="grid-item">Aquatic Strigoi <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Aquatic Strigoi.png" > </div>
                            <div class="grid-item">Brides of Dracula <img class = "charimg" src = "../../assets/images/characterimages/strigoi/BridesofDracula.png" > </div>
                            <div class="grid-item">Common Strigoi <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Strigoi.png" > </div>
                            <div class="grid-item">Newborn Strigoi <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Newborn Strigoi.png" > </div>
                            <div class="grid-item">Nosferatu <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Nosferatu.png" > </div>
                            <div class="grid-item">Thrall <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Servants.png" > </div>
                            <div class="grid-item">Romani <img class = "charimg" src = "../../assets/images/characterimages/strigoi/Romani.png" > </div>
                            
                        </div>
     
        <img src= "../../assets/images/factionstrips/Paint Strip Strigoi.png" height = 100 width = 100%>
     </div>
