
    <app-menu></app-menu>

    <div class = "factionname"> The Doctors </div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Doctors.png" height = 100 width = 100%>
        <p>There has been an indisputable rise in the number of Venetians suffering mental breakdown following the advent of the Rent in the Sky. It is widely accepted across
             the city that the unnatural phenomenon preys upon the mind, as does the sleeplessness and tension brought about by the change in the city’s inhabitants. What 
             only a relative few understand is that there exists a direct correlation between the new influx of magic and the affect on the human mind.
                The link between madness and magic was not always the main concern of the doctors that work in the Ospedale San Servolo, but since the Rent in the Sky tore
                 apart the heavens it has become their sole focus.</p>

                 <img class = "showimg" src = "../../assets/images/Brief 3 - Docks of Ospedale_resized.png" >

                 <p>Building the Ospedale</p>
                 <p>The Ospedale was founded originally to treat the war wounded of La Serenissima, opening in 1716 on the island of San Servolo. Before that the island housed 
                     a monestary, situated on the ruins of some long forgotten structure. It’s said that San Servolo itself sits as a testament to progress throughout the 
                     centuries, and that if one digs long enough they’ll uncover layers of history much like rocks on the coastline.
                        Doge Pietro Grimani agreed to open a new Ospedale, at the behest of Dr Andreas Nifo; a place for the mentally unstable. He raised the funds for the 
                        building throughout a lengthy campaign that lasted longer than his rule. More money was raised than thought possible, especially in the struggling 
                        economy of Venice at the time. Some noble families put money toward the project in the hope that it would be the spark to reinvigorate trade in the 
                        city. Others got caught in an expensive one-upmanship, eager to prove that despite the flailing state of Venice they were still major powers to be 
                        feared. Others still were genuinely interested in the development, the idea of taking the insane off the streets of Venice an exciting prospect, 
                        especially as many Patricians considered being poor or homeless to be conditions of the mind, to be hidden away in cells rather than on the streets
                         of their Sestiere.
                        With the large amount of funds to spare, Doge Grimani set the ground for the Ospedale on the island of San Servolo, far enough from the city to be
                         out of sight and mind, but close enough that the doctors manning it would be at the beck and call of the government. The military hospital on its 
                         grounds had long become dilapidated, housing but a few monks and nuns who were quickly evicted. Construction began and lasted for several years, 
                         the Ospedale becoming one of the largest buildings in the Venetian lagoon, including cells, operating theatres, research areas and treatment rooms.
                          It included state of the art plumbing and sewers, and enough dining areas, libraries, dormitories and gardens for the full staff of four hundred 
                          to live there permanently, needing only small luxuries from the mainland. 
                        The Ospedale San Servolo Dei Malati di Mente was finished and its gates opened in 1753 to an admittance of many dozens on the first day. Nifo was 
                        appointed as the first head of the Ospedale, and settled into his role quickly.</p>

                        <img class = "showimg" src = "../../assets/images/3 - Creating a Monster.jpg" >

                        <p>Play Style</p>

                        <p>The Doctors are a mix of Doctors, staff of the Ospedale, Madmen and modified animals. Doctors use magic for a lot of their attacks and can leech will
                            points from the madmen to cast their magical abilities. Their monstrous animals, freakish creations from animals of our world provide dangerous close 
                        combat potential. Each Doctor provides a different danger to opposing gangs, from strong magical abilities to devestating firepower.  </p>

                        


        <img src= "../../assets/images/factionstrips/Paint Strip Doctors.png" height = 100 width = 100%>
     </div>