<div class = "scenariosbody">

  <app-menu></app-menu>

    <h1>Scenarios</h1>

    <div class = "textbox">
      <p> These are the downloadable Scenarios. Any special characters required are part of the secnario card itself.</p>

        <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
          <p class = "harbingertitle">Gifts of the Harbinger</p>
        </mat-panel-title>
        <mat-panel-description>
          Click to reveal Gifts of the Harbinger Scenarios.
        </mat-panel-description>
        </mat-expansion-panel-header>        
        <a href = "../../assets/images/scenarios/harbinger/Gifts of the Harbinger_01.pdf" target = "_blank">Scenario 1: Watch Venice Burn</a><br>
        <a href = "../../assets/images/scenarios/harbinger/Gifts of the Harbinger_02.pdf" target = "_blank">Scenario 2: Unholy Birth</a><br>
        <a href = "../../assets/images/scenarios/harbinger/Gifts of the Harbinger_03.pdf" target = "_blank">Scenario 3: Finding a Murderer</a><br>
        <a href = "../../assets/images/scenarios/harbinger/Gifts of the Harbinger_04.pdf" target = "_blank">Scenario 4: Rest In Peace</a><br>
        <a href = "../../assets/images/scenarios/harbinger/Gifts of the Harbinger_05.pdf" target = "_blank">Scenario 5: Outside of Time and Space</a><br>
        

        

        </mat-expansion-panel>
        <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
              <p class = "ostrichracetitle">Ostrich Racing</p>
            </mat-panel-title>
            <mat-panel-description>
              Click to reveal Ostrich Racing Scenarios.
            </mat-panel-description>
            </mat-expansion-panel-header>
           
            <a href = "../../assets/images/scenarios/ostrichrace/Ostrich Racing Scenario.pdf" target = "_blank">Ostrich Racing</a><br>
            
            </mat-expansion-panel>

           
  
</div>
   

    




</div>
