
    <app-menu></app-menu>


    <div class = "factionname"> The Patricians</div>

    <div class = "textbox">
            <img src= "../../assets/images/factionstrips/Paint Strip Patricians.png" height = 100 width = 100%>
        <p>Though it boasts to be one of the oldest republics in the world, Venice and its empire is nevertheless organised and run for the most part to the benefit of a
             very small portion of its inhabitants. Its laws, traditions and history have been shaped by the needs and demands of the Patrician families that rule the city 
             through the Doge’s government. It may not have a king or queen, but La Serenissima is arranged no less for the benefit of the aristocratic few than the monarchies 
             of Europe.</p>

             <img class = "showimg" src = "../../assets/images/4 - Party Preparations.jpg" >

             <p>Fall From Grace</p>

             <p>Of late the power of the ruling class has come under increasing challenge as the artisan and mercantile classes grow in wealth while the lands of the Patricians
                 dwindle in size and importance – many families were brought to the edge of ruin by Venice’s long dwindling economy. The deteriorating Venetian fleet and lack 
                 of trade hit the upper echelons of society hard, causing many families to lose their vast inherited wealth.
                    The Patrician families were further affected by great losses during the appearance of the Rent in the Sky. The sinking of most of Europe crippled even those
                     few left in Venice who had foreign holdings, causing high society to become even more insular in order to look after themselves and clutch at the last of 
                     their wealth. Even so, the Patricians hold tight to the reins of power and the likes of the Bragadins, Mocenigos and Dandalos, among others, would rather 
                     prop up the influence of their impoverished neighbours than allow the whole system to collapse. 
                    As much as the aristocracy of Venice suffered though, those in power abroad bore the worst of fates. With devastation throughout the lands, many peasants 
                    were fuelled not just by hunger and destruction, but also by a desire to affect change on a larger scale. Encouraged by the recent French Revolution, many 
                    took to the streets, hunting down what lords and ladies remained after the catastrophic events of the Rent in the Sky. It became a common sight in cities 
                    like Barcelona and Vienna to see the wealthiest members of society strung up from the most decadent palaces, a severe warning to those willing to keep power
                     to themselves.
                    In Venice the ruling class was stretched far abroad, having already suffered through years of dwindling wealth. The public opinion of the Patricians at this
                     point was such that they escaped the worst atrocities happening in other countries, hiding themselves either by mediocrity or through the hiring of 
                     bodyguards and bribing of city guard soldiers.</p>

                     <img class = "showimg" src = "../../assets/images/Nobel_Fianl.jpg" >

                     <p>Play Style</p>

                     <p>With very powerful leaders and heroes the Patricians have access to some of the most powerful characters in the game. A good range of weapons, ranged and 
                         close combat, good stat lines, lots of buffs through various abilities the Patricians are few in number but very powerful. Even the henchmen of the Patricians 
                         can hold their own against some other factions heroes. 
                     </p>

                     
     
        <img src= "../../assets/images/factionstrips/Paint Strip Patricians.png" height = 100 width = 100%>
     </div>