
    <app-menu></app-menu>


    <img src = "../../assets/images/Patricians Picture.png" width = 100%>

    <div class = "introtextbox">
            
        <p>Though it boasts to be one of the oldest republics in the world, Venice and its empire is nevertheless organised and run for the most part to the benefit of a
             very small portion of its inhabitants. Its laws, traditions and history have been shaped by the needs and demands of the Patrician families that rule the city 
             through the Doge’s government. It may not have a king or queen, but La Serenissima is arranged no less for the benefit of the aristocratic few than the monarchies 
             of Europe.</p>

             <p>
                    The power of the ruling classes has been under threat for a while, not just wihin Venice, but throughout Europe as the merchantile and artisan classes gain wealth and land.
                    Many rish families of Venice, ones who had always had power and position, were shrunk to almost nothing by Venices poor economy. As trade and ship building dwindled to nothing 
                    in Venice, these families got smaller and smaller, many losing everything. High society became even more insular, rather prop up rivals and neighbours, then let the entire
                    system, a system they relied on, to collapse. 
                </p>
    </div>

    <img src = "../../assets/images/patriciansstreet.jpg" width = 100%>

                <div class = "textbox">

             <img class = "showimgwithintext" src = "../../assets/images/4 - Party Preparations.jpg" >            

             <p>The french revolution gave power to the peasant population of Europe, and throughout Europe, the upper class was exectuted and destroyed. Venetian aristocracy was partly spared this fate 
                 since public opinion of them had dwindled so low that they werent seen as the power they once were, and so many had gone abroard to seek new fortune. When the rent opened Venice was spared
                 much of the destruction and devasatation that affected other cities. Though there was much chaos, the aristocracy was far from wiped out.
             </p>
             
             <p>Once the world started to calm down after the affects of the Rents opening, Venice was primed to grow, the docks saw an massive influx of trade, ships were built at a fast rate and Venice
                 grew and grew. The money started to go back to the Aristocracy, this time however, the Patricians city-wide had learned from their time of struggle, and they must not let it happen again.
                 They hoarded their wealth, kept the divide between rish and poor as wide as possible, lest the poor have a chance to rise up once again.
             </p>

             <p> The Patricians now live lives of decadance, the Carnevale forever ongoing. Nobles hold parties that last days, parties where nothing is off limits. Orgies, cannibilism, extravegant
                 feats and of course, violence in the streets are a common occurence. Caught in an ongoing addiction to power over others, the Patricians care nothing for the peasentry, seeing them as sport
                 to be hunted at best. Sexual deviance and acts considered depreaved in any other society are rife, violence a nightly occurence, death a celebration. 
             </p>

             <p> Every night these Masqurettas take to the streets, spreading violence and bloodshed. Noble familes with little money left, give their votes away to the highest bidder so they can cling
                 on to power and wealth. Nicknamed the Barnobottis they join in the Masqurettas with as much blood filled pleasure as any noble. Foreign Nobles come to join in these wild parties. The City
                 Guard, now nothing more than a collection of thugs, paid off to turn a blind eye, or worse, join in. No peasant is safe once the Masquretta is in full swing, the Patricians will have their
                 party.
             </p>
            </div>
            <img src = "../../assets/photos/Patricians Vs Guild.png" width =100%>
            
                <div class = "textbox">
                <p>Federico went over the plan in his mind one last time; he would enter the masquerata and hide himself until the host appeared, waiting for the opportune moment to 
                    kill him. Reaching the entrance, Federico gained access easily, thanks to the passing of a few coins between himself and the doorman. Hiding amongst the crowd, he 
                    approached the dining table and helped himself to some food so as to blend into the rest of the party.</p>

                        <p>It did not take long for the guests to filter through to the ballroom where a small podium had been erected. Upon it stood a man and woman, 
                            waiting patiently for the last few people to enter. The man, whom Federico assumed to be the host - and therefore his target - raised a hand 
                            to silence the crowd, smiling until all eyes were upon him.</p>
                        
                        <p>“Welcome everyone, to the finest masquerata in all of Venice! I hope you enjoy the festivities and of course, my food and wine,” he paused as 
                            the crowd chuckled. “Tonight's main event is something very special,” he continued. “I am proud to give to you fine citizens an offering. We 
                            will experience first-hand a reprobate from the Guild battle for his life against the man who personally trained me in the art of sword-play - 
                            my fencing master.” The man beckoned the crowd towards his previous master, who had moved to the centre of the ballroom. “Now I will introduce 
                            his opponent, a man who works for that most slimy organisation. Ladies and gentleman of the masquerata, I present to you - the Guild wretch!”</p>
                            <img class = "showimgwithintext" src = "../../assets/photos/Patricians Nobles.png" >
                        <p>Federico felt a sharp impact on the back of his head as he was hit to the ground. Two guards picked him up and threw him into the centre of the ballroom to the 
                            sound of hissing and booing from the crowd. The fencing master grinned as he drew his rapier, tossing a spare next to Federico. Despite having the breath knocked 
                            out of him, Federico grasped the sword and held it towards his opponent.</p>
                        
                        <p>With an almost instantaneous gesture from the host, the fencing master lunged towards his prey. The attack was so swift that it caught Federico completely off guard, 
                            the point grazing his rib and causing him to stagger backwards. His opponent came again and this time nicked Federico's shoulder, before retreating once more. This 
                            way of combat was alien to Federico and he had no way to defend against it. The fencing master had trained his whole life in the art of sword-play and Federico knew 
                            he could not win through conventional ways.</p>
                        
                        <p>Advancing forward aggressively, he dodged a thrust which would have pierced his neck, and proceeded to head-butt the swordsman. Before giving his opponent the chance to recover, 
                            Federico seized his opportunity and slashed his sword across the enemy's knee, causing the fencing master to scream in pain.</p>
                        
                       <p> Triumphantly, Federico raised his sword and stabbed down through his enemy’s chest, piercing flesh and bone. The host looked aghast at the death of a long-time friend 
                           but composed himself quickly. Sure, this hadn't gone quite as expected but the night and the masquerata had only just begun. </p>
                        </div>
                     
<img src = "../../assets/images/rashaarvspatricians.jpg" width = 100%>
                     
<div class = "textbox">
    <img class = "showimgwithintext" src = "../../assets/photos/Patricians Square.png"> <br>
                     <p>With very powerful leaders and heroes the Patricians have access to some of the most powerful characters in the game. A good range of weapons, ranged and 
                         close combat, good stat lines, lots of buffs through various abilities the Patricians are few in number but very powerful. Even the henchmen of the Patricians 
                         can hold their own against some other factions heroes. 
                     </p><br><br><br><br><br>

                     
     
        
     </div>