<div class = "gettingstartedbody">

  
  <app-menu></app-menu>
  
    <img src = "../../assets/images/Getting Started Picture.png" width = 100%>    
  
    <div class = "introtextbox">
    <br>
    

<p> The year is 1795, A great Rent has torn open reality and sunk most of Europe beneath the waves. Only one place stands untouched by the calamity: Venice.</p>

<p>By day the city bustles, the Queen of the Adriatic taking pride of place once again as the Wests's capital of trade. However, by night Venice takes on a darker person, both figuratively
  and literally masking iteslef. Gangs stalk the canals looking for blood, the clandestine secret societies making themsleves known to fight for their own corner of the city.</p>

<p>But more sinister still, the Rent in the Sky has opened the path for otherworldly phenomena. Magic spills out from a world beyond the veil, bringing with it creatures devoted 
  to anciet deities. Deities who look on the burgeoning Venetian empire and smile at the madness unfolding.</p>  
 
</div>
<br>



  <img class src = "../../assets/images/First Steps Picture.png" width = 100%>  

  <div class = "textbox">
      <img class = "showimgwithintext" src = "../../assets/images/StarterBoxWeb.png">

<p>
  The first steps into Carnevale are best done with our two player starter set, avaialble from many game stores and the TTCombat webstore. With this you have everything you need to play
  your very first games of Carnevale.
</p>



<p> Two complete playable gangs, one of The Guild and one of The Rashaar with the rules, dice, board and scenery you need to start your own narrative in the streets of Venice. </p>

<p> First of all you'll want to build the beautifully detailed miniatures that represent your gangs, as always since these are made from resin we suggest washing them in warm, soapy
  water first and building them with a suitable glue. To make this as easy as possible the miniatures in the 2 player starter are all one piece miniatures. This means all you have to do
  is slot them into their bases, you can use glue to secure them if you wish, and you can play straight away.
</p>



<p>To make your miniatures look their best on the tabletop we always recommend painting them with water based acrylic paint. Although with our many pieces of artwork we have shown a consistent
  colour scheme for each miniature, please feel free to create your own to add your own influence on your gang. We also love to see fully painted miniatures so once your done please show us a
  picture on the Carnevale Facebook group.
</p>

<p>Once your miniatures are built (painting is optional), you are ready to play Carnevale. The cardboard buildings are easily made to create your gaming area of Venice. Read through the rules, 
 have fun playing through the starter campaign and then you'll be ready to play the main scenarios presented in the rulebook. 
</p>



    <p>Once you've played with the starter gangs a few times you'll want to start growing your gang, giving yourself other options for your gang to take to the streets with. Maybe
      you would like exploring one of the other factions of Venice.
      So many options are available, again from game stores and from the TTCombat webstore. Maybe you'll want new buildings from our MDF range and boards to build real depths in the canals of venice.
      Always remember though, the streets of Venice are no longer for the faint of heart, and as your time spent here grows, so will your hunger for violence, or for the sweet taste of magic.
    </p>

    

  </div>
  <div class = "videobar1">
      <iframe class = "youtubeVideo" src="https://www.youtube.com/embed/ezxLSho17X8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


   
    



</div>


