
    <app-menu></app-menu>

   <div class = "factionname"> The Guild </div>
   <div class = "textbox">
        <img src= "../../assets/images/factionstrips/Paint Strip Guild.png" height = 100 width = 100%>
   <p>The Guild as it stands today has gone through many transformations, though its origins come from the old tradition of the shipbuilding Castellani family and the fishing 
       Nicolottis. The two warring families created the first guilds in Venice, groups that ostensibly would work together for 
       the benefit of their own workers, but realistically were only created to organise the fighting between the two families. The Guild is both of these groups and more,
        coming from destitution into power.</p>

        <img class = "showimg" src = "../../assets/images/gettingstartedback.jpg" height = 400 width = 600>
        <p>Many Into One</p>
         <p>Venice has maintained a vast number of guilds for as long as it has stood, the workers banding together to become greater than the sum of their parts. In the more
              prosperous times the guilds were organisations of great sway, influencing politics both personal and city-wide. Ships couldn’t be built in the Arsenale without 
              express confirmation of the Shipbuilders’ Guild, and they would only give their affirmation if confirmed with the Guild of Carpenters, Dockworkers’ Guild, and 
              several others as well.
         However, in Venice’s great fall from grace the existing guilds lost their pull. Without ships to build, food to harvest, or businesses to run, the sum of the parts 
         became nothing more than a loose collection of poor, unemployed citizens. It was during this time, late in the 17th Century, that the Guild originated. As more citizens turned from the fruitless endeavours of honest work, they turned instead to the growing criminal underbelly of the Floating City. The Thieves’ Guild fast became the most prevalent secret society in Venice. With members all over the city, the Thieves’ Guild was able to keep an eye on all the comings and goings of any wealth. Muggings, extortion, and smuggling became the de facto trade, and many people living in the margins of society found a home.
        The thieves quickly realised that in order to operate in the shadows they would need to make deals with others. The first to be introduced into their ranks were the 
        brothels. Men and women who were in prime positions to find out information on all of their clients seemed like the perfect fit to join the thieves. The brothels 
        were offered partnerships one at a time, their madames trading their clients’ secrets for Ducats or for protection. It was an agreement that was beneficial to both parties – if the thieves knew that a wealthy aristocrat was out visiting a brothel, it meant that their casa would be left unguarded to be burgled, and the spoils found their way back to the very brothel they were visiting, often in the same night.
        At first there weren’t many guilds that chose to work with the thieves, preferring to keep their old, proud institutions free of corruption. However, as time wore
         on and poverty set in, many would temporarily – or so they’d say – loosen their morals in order to feed and clothe their loved ones.
        By the time of the Rent in the Sky, the Thieves’ Guild had working partnerships with no less than two dozen different guilds, and was colloquially known throughout
         simply as the Guild.
         Since the Rent in the Sky, the boom of commerce, and the apathy of the ruling classes towards the citizenry, the Guild has seen a huge upswing in membership. 
         Between the vicious advances of the Vatican forces, the murderous Patricians’ masqueratas, or any number of other violent ends a citizen might face, there are 
         many reasons to seek out protection. The Guild has gone from a criminal underbelly, extorting money off a weak citizenry, to the lesser of many evils.
        Their influence now extends over the entire city, and it is often said in whispers that you cannot walk down a single alley in Venice without the King of Thieves
         knowing about it. Instead of seeking out uneasy truces, the Guild now find that many groups come to them (albeit indirectly through various fences) looking for an
          alliance. The Capodecina listen to all parties and will often let them be a part of the Guild, for a cost dependent on exactly what they can offer to the thieves.</p>

          <img class = "showimg" src = "../../assets/images/ART 11 adjusted.jpg" height = 400 width = 600>

          <p>Play Style</p>
          <p>The Guild have a lot of options. Powerful Command Abilities, very specialised Heroes alead by powerful leaders. The Henchmen can be fielded in a high number which makes up for 
              their individual weakness. The Black Lamps give them a strong defence against gangs utilising magic, while the Capodecinas hop through the rooftops, landing on the monsters threatening
              the citizens of Venice.
          </p>

   <div class="miniaturegrid">
        <div class="grid-item">Prince of Thieves <img class = "charimg" src = "../../assets/images/characterimages/guild/Prince of Thieves.png" > </div>
        <div class="grid-item">Capodecina <img class = "charimg" src = "../../assets/images/characterimages/guild/Capodecina.png" > </div>
        <div class="grid-item">King Pulcinella<img class = "charimg" src = "../../assets/images/characterimages/guild/King Pulcinella.png" > </div>
        <div class="grid-item">Madame <img class = "charimg" src = "../../assets/images/characterimages/guild/Madame.png" > </div>
        <div class="grid-item">Black Lamp <img class = "charimg" src = "../../assets/images/characterimages/guild/Black Lamp.png" > </div>
        <div class="grid-item">Baba-Yaga <img class = "charimg" src = "../../assets/images/characterimages/guild/Baba-Yaga.png" > </div>
        <div class="grid-item">Rialto Assassin <img class = "charimg" src = "../../assets/images/characterimages/guild/Rialto Assassin CV0.png" > </div>
        <div class="grid-item">Butcher <img class = "charimg" src = "../../assets/images/characterimages/guild/Butcher.png" > </div>
        <div class="grid-item">Barber <img class = "charimg" src = "../../assets/images/characterimages/guild/Barber.png" > </div>
        <div class="grid-item">Fisherman <img class = "charimg" src = "../../assets/images/characterimages/guild/Fisherman.png" > </div>
        <div class="grid-item">Baroni <img class = "charimg" src = "../../assets/images/characterimages/guild/Baroni.png" > </div>
        <div class="grid-item">Ostrich Rider Pulcinella <img class = "charimg" src = "../../assets/images/characterimages/guild/Ostrich Pulcinella.png" > </div>
        <div class="grid-item">Recruiter <img class = "charimg" src = "../../assets/images/characterimages/guild/Recruiter.png" > </div>
        <div class="grid-item">Citizens <img class = "charimg" src = "../../assets/images/characterimages/guild/Citizens.png" > </div>
        <div class="grid-item">Pilferer <img class = "charimg" src = "../../assets/images/characterimages/guild/Pilferer.png" > </div>
        <div class="grid-item">Gondolier <img class = "charimg" src = "../../assets/images/characterimages/guild/Gondoliere.png" > </div>
        <div class="grid-item">Dog Keeper <img class = "charimg" src = "../../assets/images/characterimages/guild/Dog Keeper.png" > </div>
        <div class="grid-item">Dogs <img class = "charimg" src = "../../assets/images/characterimages/guild/Dogs.png" > </div>
        <div class="grid-item">Pulcinella <img class = "charimg" src = "../../assets/images/characterimages/guild/Pulcinella.png" > </div>
        <div class="grid-item">Harlots <img class = "charimg" src = "../../assets/images/characterimages/guild/Harlots.png" > </div>

      </div>

   <img src= "../../assets/images/factionstrips/Paint Strip Guild.png" height = 100 width = 100%>
</div>